xsd/ris/ris.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xs:schema
  xmlns:xs="http://www.w3.org/2001/XMLSchema"
  xmlns:akn="http://docs.oasis-open.org/legaldocml/ns/akn/3.0"
  xmlns:ris="http://rechtsinformationen.bund.de/schema/ris/0.1"
  elementFormDefault="qualified"
  targetNamespace="http://rechtsinformationen.bund.de/schema/ris/0.1"
>
  <xs:annotation>
    <xs:documentation xml:lang="de">
      Allgemeine Elemente für die Schemas für die verschiedenen Dokumente des Rechtsinformationssystems.

      Dies beinhaltet nicht die Elemente für das Normen-Schema. Diese werden in LegalDocMl.de definiert.

      Die dokumentart-spezifischen Ergänzungen zu diesem Schema sind in weiteren Schema-Dateien definiert.
    </xs:documentation>
  </xs:annotation>

  <xs:import
    namespace="http://www.w3.org/XML/1998/namespace"
    schemaLocation="../akn/xml.xsd"
  />
  <xs:import
    namespace="http://docs.oasis-open.org/legaldocml/ns/akn/3.0"
    schemaLocation="../akn/akomantoso30.xsd"
  />

  <xs:include schemaLocation="domain-term.xsd" />

  <xs:include schemaLocation="adm.xsd" />
  <xs:include schemaLocation="caselaw-decision.xsd" />
  <xs:include schemaLocation="caselaw-pending-proceeding.xsd" />
  <xs:include schemaLocation="sli.xsd" />
  <xs:include schemaLocation="uli.xsd" />

  <!-- Metadaten -->

  <xs:element name="meta" type="ris:meta" />

  <xs:complexType name="meta">
    <xs:annotation>
      <xs:documentation xml:lang="de">
        Metadaten über das Dokument. Je nach Dokart sind hier andere Metadaten
        angegeben.
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:any
        maxOccurs="unbounded"
        minOccurs="0"
        namespace="##targetNamespace"
      />
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="dokumenttypen">
    <xs:annotation>
      <xs:documentation xml:lang="de">
        Dokumenttypen
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element
        name="dokumenttyp"
        type="ris:dokumenttyp"
        maxOccurs="unbounded"
      />
    </xs:sequence>
    <xs:attribute name="domainTerm" type="ris:domainTerm" use="required" />
  </xs:complexType>

  <xs:complexType name="dokumenttyp">
    <xs:annotation>
      <xs:documentation xml:lang="de">
        Der Typ des Dokuments (z.B. Urteil, Vergleich, Beschluss, ...)
      </xs:documentation>
    </xs:annotation>
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute name="domainTerm" type="ris:domainTerm" use="required" />
        <xs:attributeGroup ref="akn:idreq" />
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>

  <xs:complexType name="gericht">
    <xs:annotation>
      <xs:documentation xml:lang="de">Gericht</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="gerichtstyp" type="ris:gerichtstyp" />
      <xs:element name="gerichtsort" type="ris:gerichtsort" minOccurs="0" />
      <xs:element
        name="gerichtsbarkeit"
        type="ris:gerichtsbarkeit"
        minOccurs="0"
      />
      <xs:element name="spruchkoerper" type="ris:spruchkoerper" minOccurs="0" />
      <xs:element
        name="sitzDerAussenstelle"
        type="ris:sitzDerAussenstelle"
        minOccurs="0"
      />
    </xs:sequence>
    <xs:attribute name="domainTerm" type="ris:domainTerm" use="required" />
    <xs:attribute name="refersTo" type="akn:conceptRef" />
  </xs:complexType>

  <xs:complexType name="gerichtstyp">
    <xs:annotation>
      <xs:documentation
        xml:lang="de"
      >Gerichtstyp (AG, VG, VerwG, ...)</xs:documentation>
    </xs:annotation>
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute name="domainTerm" type="ris:domainTerm" use="required" />
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>

  <xs:complexType name="gerichtsort">
    <xs:annotation>
      <xs:documentation
        xml:lang="de"
      >Ort des Sitzes des Gerichts</xs:documentation>
    </xs:annotation>
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute name="domainTerm" type="ris:domainTerm" use="required" />
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>

  <xs:complexType name="gerichtsbarkeit">
    <xs:annotation>
      <xs:documentation xml:lang="de">Gerichtsbarkeit</xs:documentation>
    </xs:annotation>
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute name="domainTerm" type="ris:domainTerm" use="required" />
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>

  <xs:complexType name="spruchkoerper">
    <xs:annotation>
      <xs:documentation xml:lang="de">Spruchkörper</xs:documentation>
    </xs:annotation>
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute name="domainTerm" type="ris:domainTerm" use="required" />
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>

  <xs:complexType name="sitzDerAussenstelle">
    <xs:annotation>
      <xs:documentation xml:lang="de">Sitz der Außenstelle</xs:documentation>
    </xs:annotation>
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute name="domainTerm" type="ris:domainTerm" use="required" />
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>

  <xs:complexType name="fehlerhafteGerichte">
    <xs:annotation>
      <xs:documentation xml:lang="de">
        Fehlerhafte Angaben zu Gerichten
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element
        name="fehlerhaftesGericht"
        type="ris:fehlerhaftesGericht"
        maxOccurs="unbounded"
      />
    </xs:sequence>
    <xs:attribute name="domainTerm" type="ris:domainTerm" use="required" />
  </xs:complexType>

  <xs:complexType name="fehlerhaftesGericht">
    <xs:annotation>
      <xs:documentation xml:lang="de">
        Fehlerhafte Angabe eines Gerichtes
      </xs:documentation>
    </xs:annotation>
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute name="domainTerm" type="ris:domainTerm" use="required" />
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>

  <xs:complexType name="regionen">
    <xs:annotation>
      <xs:documentation xml:lang="de">
        Regionen in denen dieses Dokument eine Bedeutung hat
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="region" type="ris:region" maxOccurs="unbounded" />
    </xs:sequence>
    <xs:attribute name="domainTerm" type="ris:domainTerm" use="required" />
  </xs:complexType>

  <xs:complexType name="region">
    <xs:annotation>
      <!-- in the harmonization document this field doesn't contain the abbreviation but the full name, but in caselaw we often only have an abbreviation -->
      <xs:documentation xml:lang="de">
        Abkürzung der Region.

        Für Bundesländer:
          Grundsätzlich: Die 2 Buchstaben Abkürzung nach ISO 3166-2
          Niedersachsen abweichend ND
          Hamburg HA
          Bremen BR
        Für Länder: ISO 3166-1 alpha-3

        Es werden weitere Codes für andere und ehemalige Gebiete verwendet.
        Zum Beispiel NL für Neue Länder, AL für Alte Länder oder PR für
        Preußen
      </xs:documentation>
    </xs:annotation>
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute name="domainTerm" type="ris:domainTerm" use="required" />
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>

  <xs:complexType name="dokumentationsstelle">
    <xs:annotation>
      <xs:documentation xml:lang="de">
        Dokumentationsstelle die dieses Dokument eingepflegt hat
      </xs:documentation>
    </xs:annotation>
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute name="domainTerm" type="ris:domainTerm" use="required" />
        <xs:attribute name="refersTo" type="akn:conceptRef" use="required" />
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>

  <xs:complexType name="aktenzeichenListe">
    <xs:annotation>
      <xs:documentation xml:lang="de">
        Aktenzeichen des Dokuments

        Der erste Eintrag ist das primäre Aktenzeichen.
        Weitere Einträge sind abweichende Aktenzeichen, die auch für dieses
        Dokument verwendet werden.
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element
        name="aktenzeichen"
        type="ris:aktenzeichen"
        minOccurs="1"
        maxOccurs="unbounded"
      />
    </xs:sequence>
    <xs:attribute name="domainTerm" type="ris:domainTerm" use="required" />
  </xs:complexType>
  <xs:complexType name="aktenzeichen">
    <xs:annotation>
      <xs:documentation xml:lang="de">Aktenzeichen</xs:documentation>
    </xs:annotation>
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute name="domainTerm" type="ris:domainTerm" use="required" />
        <xs:attribute
          name="refersTo"
          type="akn:conceptRef"
          fixed="#aktenzeichen"
        >
          <xs:annotation>
            <xs:documentation xml:lang="de">
                Das primäre Aktenzeichen ist hierdurch gekennzeichnet. Es wird außerdem in akn:FRBRalias[eId="aktenzeichen"] angegeben.
              </xs:documentation>
          </xs:annotation>
        </xs:attribute>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>

  <xs:complexType name="abweichendeDaten">
    <xs:annotation>
      <xs:documentation xml:lang="de">
        Abweichende Daten
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element
        name="abweichendesDatum"
        type="ris:abweichendesDatum"
        maxOccurs="unbounded"
      />
    </xs:sequence>
    <xs:attribute name="domainTerm" type="ris:domainTerm" use="required" />
  </xs:complexType>

  <xs:complexType name="abweichendesDatum">
    <xs:annotation>
      <xs:documentation xml:lang="de">
        Abweichendes Datum
      </xs:documentation>
    </xs:annotation>
    <xs:simpleContent>
      <xs:extension base="xs:date">
        <xs:attribute name="domainTerm" type="ris:domainTerm" use="required" />
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>

  <xs:complexType name="abweichendeDokumentnummern">
    <xs:annotation>
      <xs:documentation xml:lang="de">
        Abweichende Dokumentnummern

        Weitere Dokumentnummern die für dieses Dokument verwendet werden
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element
        name="abweichendeDokumentnummer"
        type="ris:abweichendeDokumentnummer"
        maxOccurs="unbounded"
      />
    </xs:sequence>
    <xs:attribute name="domainTerm" type="ris:domainTerm" use="required" />
  </xs:complexType>

  <xs:complexType name="abweichendeDokumentnummer">
    <xs:annotation>
      <xs:documentation xml:lang="de">
        Abweichende Dokumentnummer
      </xs:documentation>
    </xs:annotation>
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute name="domainTerm" type="ris:domainTerm" use="required" />
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>

  <xs:complexType name="sachgebiete">
    <xs:annotation>
      <xs:documentation xml:lang="de">
        Sachgebiete
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element
        name="sachgebiet"
        type="ris:sachgebiet"
        maxOccurs="unbounded"
      />
    </xs:sequence>
    <xs:attribute name="domainTerm" type="ris:domainTerm" use="required" />
  </xs:complexType>

  <xs:complexType name="sachgebiet">
    <xs:annotation>
      <xs:documentation xml:lang="de">
        Sachgebiet
      </xs:documentation>
    </xs:annotation>
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:annotation>
          <xs:documentation xml:lang="de">
            Menschenlesbarer Name des Sachgebiets
          </xs:documentation>
        </xs:annotation>
        <xs:attribute name="domainTerm" type="ris:domainTerm" use="required" />
        <xs:attribute
          name="notation"
          type="ris:sachgebietNotation"
          use="required"
        />
        <xs:attribute
          name="sachgebiet-id"
          type="ris:sachgebietId"
          use="required"
        />
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>

  <xs:simpleType name="sachgebietNotation">
    <xs:annotation>
      <xs:documentation xml:lang="de">
        Ist das Sachgebiet nach neuer (neu) oder alter (alt) Sachgebietsliste und Notation angegeben.
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:enumeration value="neu" />
      <xs:enumeration value="alt" />
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="sachgebietId">
    <xs:union memberTypes="ris:sachgebietIdNeu ris:sachgebietIdAlt" />
  </xs:simpleType>

  <xs:simpleType name="sachgebietIdNeu">
    <xs:annotation>
      <xs:documentation xml:lang="de">
        Identifier des Sachgebiets (neue Notation)
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:pattern value="[A-Z]{2}(-[0-9]{2})*" />
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="sachgebietIdAlt">
    <xs:annotation>
      <xs:documentation xml:lang="de">
        Identifier des Sachgebiets (alte Notation)
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:pattern value="53-[0-9]{3}N?|[0-9]{2}-|[0-9]{2}(-[0-9]{2}){1,3}" />
    </xs:restriction>
  </xs:simpleType>

  <xs:complexType name="definitionen">
    <xs:annotation>
      <xs:documentation xml:lang="de">
        Definitionen von Begriffen
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element
        name="definition"
        type="ris:definition"
        maxOccurs="unbounded"
      />
    </xs:sequence>
    <xs:attribute name="domainTerm" type="ris:domainTerm" use="required" />
  </xs:complexType>

  <xs:complexType name="definition">
    <xs:annotation>
      <xs:documentation xml:lang="de">
        Definition eines Begriffs
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="definierterBegriff" type="ris:definierterBegriff" />
      <xs:element ref="akn:ref" minOccurs="0">
        <xs:annotation>
          <xs:documentation xml:lang="de">
            Stelle im Text (Randnummer) der Definition
          </xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="domainTerm" type="ris:domainTerm" use="required" />
  </xs:complexType>

  <xs:complexType name="definierterBegriff">
    <xs:annotation>
      <xs:documentation xml:lang="de">
        Begriff der definiert wird
      </xs:documentation>
    </xs:annotation>
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute name="domainTerm" type="ris:domainTerm" use="required" />
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>

  <xs:complexType name="berufsbilder">
    <xs:annotation>
      <xs:documentation xml:lang="de">
        Berufsbilder
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element
        name="berufsbild"
        type="ris:berufsbild"
        maxOccurs="unbounded"
      />
    </xs:sequence>
    <xs:attribute name="domainTerm" type="ris:domainTerm" use="required" />
  </xs:complexType>

  <xs:complexType name="berufsbild">
    <xs:annotation>
      <xs:documentation xml:lang="de">
        Berufsbild
      </xs:documentation>
    </xs:annotation>
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute name="domainTerm" type="ris:domainTerm" use="required" />
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>

  <xs:complexType name="veroeffentlichungsJahre">
    <xs:annotation>
      <xs:documentation xml:lang="de">
        Jahre der Veröffentlichung
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element
        name="veroeffentlichungsJahr"
        type="ris:veroeffentlichungsJahr"
        maxOccurs="unbounded"
      />
    </xs:sequence>
    <xs:attribute name="domainTerm" type="ris:domainTerm" use="required" />
  </xs:complexType>

  <xs:complexType name="veroeffentlichungsJahr">
    <xs:annotation>
      <xs:documentation xml:lang="de">
        Jahr der Veröffentlichung
      </xs:documentation>
    </xs:annotation>
    <xs:simpleContent>
      <xs:extension base="xs:gYear">
        <xs:attribute name="domainTerm" type="ris:domainTerm" use="required" />
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>

  <xs:complexType name="gliederung">
    <xs:annotation>
      <xs:documentation xml:lang="de">
        Gliederung
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element
        name="gliederungEntry"
        type="ris:gliederungEntry"
        maxOccurs="unbounded"
      />
    </xs:sequence>
    <xs:attribute name="domainTerm" type="ris:domainTerm" use="required" />
  </xs:complexType>

  <xs:complexType name="gliederungEntry">
    <xs:annotation>
      <xs:documentation xml:lang="de">
        Eintrag der Gliederung
      </xs:documentation>
    </xs:annotation>
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute name="domainTerm" type="ris:domainTerm" use="required" />
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>

  <xs:complexType name="problemkreise">
    <xs:annotation>
      <xs:documentation xml:lang="de">
        Problemkreise
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element
        name="problemkreis"
        type="ris:problemkreis"
        maxOccurs="unbounded"
      />
    </xs:sequence>
    <xs:attribute name="domainTerm" type="ris:domainTerm" use="required" />
  </xs:complexType>

  <xs:complexType name="problemkreis">
    <xs:annotation>
      <xs:documentation xml:lang="de">
        Problemkreis
      </xs:documentation>
    </xs:annotation>
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute name="domainTerm" type="ris:domainTerm" use="required" />
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>

  <xs:complexType name="dubletteToleriert">
    <xs:annotation>
      <xs:documentation xml:lang="de">
        ignorierte Dublettenprüfung
      </xs:documentation>
    </xs:annotation>
    <xs:attribute name="domainTerm" type="ris:domainTerm" use="required" />
  </xs:complexType>

  <xs:complexType name="personen">
    <xs:annotation>
      <xs:documentation xml:lang="de">
        Liste an Personen. Auf diese wird z.B. aus akn:FRBRauthor oder akn:opinion verweisen.
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="person" type="ris:person" maxOccurs="unbounded" />
    </xs:sequence>
    <xs:attribute name="domainTerm" type="ris:domainTerm" use="required" />
  </xs:complexType>

  <xs:complexType name="person">
    <xs:annotation>
      <xs:documentation xml:lang="de">
        Person
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="name" type="ris:personName" />
      <xs:element name="titel" type="ris:personTitel" minOccurs="0" />
    </xs:sequence>
    <xs:attribute name="domainTerm" type="ris:domainTerm" use="required" />
    <xs:attributeGroup ref="akn:showopt" />
    <xs:attributeGroup ref="akn:idreq" />
  </xs:complexType>

  <xs:complexType name="personName">
    <xs:annotation>
      <xs:documentation xml:lang="de">
        Name einer Person
      </xs:documentation>
    </xs:annotation>
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute name="domainTerm" type="ris:domainTerm" use="required" />
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>

  <xs:complexType name="personTitel">
    <xs:annotation>
      <xs:documentation xml:lang="de">
        Titel einer Person
      </xs:documentation>
    </xs:annotation>
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute name="domainTerm" type="ris:domainTerm" use="required" />
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>

  <xs:complexType name="organisationen">
    <xs:annotation>
      <xs:documentation xml:lang="de">
        Liste an Organisationen. Auf diese wird z.B. aus akn:FRBRauthor verweisen.
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element
        name="organisation"
        type="ris:organisation"
        maxOccurs="unbounded"
      />
    </xs:sequence>
    <xs:attribute name="domainTerm" type="ris:domainTerm" use="required" />
  </xs:complexType>

  <xs:complexType name="organisation">
    <xs:annotation>
      <xs:documentation xml:lang="de">
        Organisation
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="name" type="ris:organisationName" />
      <xs:element name="ort" type="ris:organisationOrt" minOccurs="0" />
      <xs:element name="jahr" type="ris:organisationJahr" minOccurs="0" />
    </xs:sequence>
    <xs:attribute name="domainTerm" type="ris:domainTerm" use="required" />
    <xs:attributeGroup ref="akn:showopt" />
    <xs:attributeGroup ref="akn:idreq" />
  </xs:complexType>

  <xs:complexType name="organisationName">
    <xs:annotation>
      <xs:documentation xml:lang="de">
        Name einer Organistation
      </xs:documentation>
    </xs:annotation>
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute name="domainTerm" type="ris:domainTerm" use="required" />
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>

  <xs:complexType name="organisationOrt">
    <xs:annotation>
      <xs:documentation xml:lang="de">
        Ort einer Organisation
      </xs:documentation>
    </xs:annotation>
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute name="domainTerm" type="ris:domainTerm" use="required" />
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>

  <xs:complexType name="organisationJahr">
    <!-- Was bedeutet das??? -->
    <xs:annotation>
      <xs:documentation xml:lang="de">
        Jahr einer Organisation
      </xs:documentation>
    </xs:annotation>
    <xs:simpleContent>
      <xs:extension base="xs:gYear">
        <xs:attribute name="domainTerm" type="ris:domainTerm" use="required" />
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>

  <!-- Verweise -->

  <!-- TODO: (Malte Laukötter, 2026-04-07) i don't think we should globally define the norm object like this, i rather
          just keep the type here and define the element in the caselaw-specific schema -->
  <xs:element name="norm" type="ris:normReference" />
  <xs:complexType name="normReference">
    <xs:annotation>
      <xs:documentation
        xml:lang="de"
      >Ein Verweis auf eine Norm</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="abkuerzung" type="ris:normReferenceAbkuerzung" />
      <xs:element name="titel" type="ris:normReferenceTitel" minOccurs="0" />
      <xs:element
        name="einzelnorm"
        type="ris:einzelnorm"
        minOccurs="0"
        maxOccurs="unbounded"
      />
    </xs:sequence>
    <xs:attribute name="domainTerm" type="ris:domainTerm" use="required" />
  </xs:complexType>

  <xs:complexType name="normReferenceAbkuerzung">
    <xs:annotation>
      <xs:documentation
        xml:lang="de"
      >abgekürzte Bezeichnung der Norm</xs:documentation>
    </xs:annotation>
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute name="domainTerm" type="ris:domainTerm" use="required" />
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>

  <xs:complexType name="normReferenceTitel">
    <xs:annotation>
      <xs:documentation
        xml:lang="de"
      >Amtliche Langüberschrift</xs:documentation>
    </xs:annotation>
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute name="domainTerm" type="ris:domainTerm" use="required" />
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>

  <xs:complexType name="einzelnorm">
    <xs:annotation>
      <xs:documentation
        xml:lang="de"
      >Ein Teil einer Norm. Zum Beispiel ein spezifischer Paragraph.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="bezeichnung" type="ris:einzelnormBezeichnung" />
      <xs:element name="gesetzeskraft" type="ris:gesetzeskraft" minOccurs="0" />
      <xs:element name="fassungsdatum" type="ris:fassungsdatum" minOccurs="0" />
      <xs:element name="jahr" type="ris:einzelnormJahr" minOccurs="0" />
    </xs:sequence>
    <xs:attribute name="domainTerm" type="ris:domainTerm" use="required" />
  </xs:complexType>

  <xs:complexType name="einzelnormBezeichnung">
    <xs:annotation>
      <xs:documentation
        xml:lang="de"
      >Bezeichnung der Einzelnorm</xs:documentation>
    </xs:annotation>
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute name="domainTerm" type="ris:domainTerm" use="required" />
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>

  <xs:complexType name="gesetzeskraft">
    <xs:annotation>
      <xs:documentation
        xml:lang="de"
      >Information über die Gesetzeskraft der Einzelnorm</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="gesetzeskraftTyp" type="ris:gesetzeskraftTyp" />
      <xs:element name="geltungsbereich" type="ris:geltungsbereich" />
    </xs:sequence>
    <xs:attribute name="domainTerm" type="ris:domainTerm" use="required" />
  </xs:complexType>

  <xs:complexType name="gesetzeskraftTyp">
    <xs:annotation>
      <xs:documentation xml:lang="de">Typ der Gesetzeskraft</xs:documentation>
    </xs:annotation>
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute name="domainTerm" type="ris:domainTerm" use="required" />
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>

  <xs:complexType name="geltungsbereich">
    <xs:annotation>
      <xs:documentation xml:lang="de">Geltungsbereich</xs:documentation>
    </xs:annotation>
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute name="domainTerm" type="ris:domainTerm" use="required" />
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>

  <xs:complexType name="fassungsdatum">
    <xs:annotation>
      <xs:documentation
        xml:lang="de"
      >Datum der referenzierten Fassung der Norm</xs:documentation>
    </xs:annotation>
    <xs:simpleContent>
      <xs:extension base="xs:date">
        <xs:attribute name="domainTerm" type="ris:domainTerm" use="required" />
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>

  <xs:complexType name="einzelnormJahr">
    <xs:annotation>
      <xs:documentation xml:lang="de">Jahr</xs:documentation>
    </xs:annotation>
    <xs:simpleContent>
      <xs:extension base="xs:gYear">
        <xs:attribute name="domainTerm" type="ris:domainTerm" use="required" />
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>

  <xs:element name="referenzRechtsprechung" type="ris:referenzRechtsprechung" />
  <xs:complexType name="referenzRechtsprechung">
    <xs:annotation>
      <xs:documentation
        xml:lang="de"
      >Referenz auf ein Rechtsprechungsdokument</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="richtung" type="ris:referenzRichtung" />
      <xs:element name="referenzArt" type="ris:referenzArt" fixed="caselaw" />
      <xs:element name="relativerPfad" type="ris:referenzRelativerPfad" />
      <xs:element name="artDerZitierung" type="ris:referenzArtDerZitierung" />
      <xs:element name="dokumentnummer" type="ris:dokumentnummer" />
      <xs:element name="gericht" type="ris:gericht" />
      <xs:element name="entscheidungsdatum" type="ris:entscheidungsdatum" />
      <xs:element name="dokumenttyp" type="ris:dokumenttyp" />
      <xs:element name="aktenzeichen" type="ris:aktenzeichen" />
    </xs:sequence>
    <xs:attribute name="domainTerm" type="ris:domainTerm" use="required" />
  </xs:complexType>

  <xs:element
    name="referenzVerwaltungsvorschrift"
    type="ris:referenzVerwaltungsvorschrift"
  />
  <xs:complexType name="referenzVerwaltungsvorschrift">
    <xs:annotation>
      <xs:documentation
        xml:lang="de"
      >Referenz auf eine Verwaltungsvorschrift</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="richtung" type="ris:referenzRichtung" />
      <xs:element name="referenzArt" type="ris:referenzArt" fixed="adm" />
      <xs:element name="relativerPfad" type="ris:referenzRelativerPfad" />
      <xs:element name="artDerZitierung" type="ris:referenzArtDerZitierung" />
      <xs:element name="dokumentnummer" type="ris:dokumentnummer" />
      <xs:element name="jurisAbkuerzung" type="ris:jurisAbkuerzung" />
      <xs:element name="fundstelle" type="ris:fundstelle" />
    </xs:sequence>
    <xs:attribute name="domainTerm" type="ris:domainTerm" use="required" />
  </xs:complexType>

  <xs:element
    name="referenzUnselbstaendigeLiteratur"
    type="ris:referenzUnselbstaendigeLiteratur"
  />
  <xs:complexType name="referenzUnselbstaendigeLiteratur">
    <xs:annotation>
      <xs:documentation
        xml:lang="de"
      >Referenz auf ein unselbstständiges Literaturdokument</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="richtung" type="ris:referenzRichtung" />
      <xs:element name="referenzArt" type="ris:referenzArt" fixed="uli" />
      <xs:element name="relativerPfad" type="ris:referenzRelativerPfad" />
      <xs:element name="dokumentnummer" type="ris:dokumentnummer" />
      <xs:element name="autor" type="ris:autor" />
      <xs:element name="dokumenttyp" type="ris:dokumenttyp" />
      <!-- dokumenttypLiteratur? -->
      <xs:element name="fundstelle" type="ris:fundstelle" />
    </xs:sequence>
    <xs:attribute name="domainTerm" type="ris:domainTerm" use="required" />
  </xs:complexType>

  <xs:element
    name="referenzSelbstaendigeLiteratur"
    type="ris:referenzSelbstaendigeLiteratur"
  />
  <xs:complexType name="referenzSelbstaendigeLiteratur">
    <xs:annotation>
      <xs:documentation
        xml:lang="de"
      >Referenz auf ein selbstständiges Literaturdokument</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="richtung" type="ris:referenzRichtung" />
      <xs:element name="referenzArt" type="ris:referenzArt" fixed="sli" />
      <xs:element name="relativerPfad" type="ris:referenzRelativerPfad" />
      <xs:element name="dokumentnummer" type="ris:dokumentnummer" />
      <xs:element name="autor" type="ris:autor" />
      <xs:element name="titel" type="ris:normReferenceTitel" />
      <xs:element
        name="veroeffentlichungsjahr"
        type="ris:veroeffentlichungsjahr"
      />
    </xs:sequence>
    <xs:attribute name="domainTerm" type="ris:domainTerm" use="required" />
  </xs:complexType>

  <xs:element
    name="nachgehendeEntscheidung"
    type="ris:nachgehendeEntscheidung"
  />
  <xs:complexType name="nachgehendeEntscheidung">
    <xs:annotation>
      <xs:documentation
        xml:lang="de"
      >Eine nachgehende Entscheidung oder anhängiges Verfahren im Rechtszug des Verfahrens</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="dokumenttyp" type="ris:dokumenttyp" />
      <xs:element
        name="entscheidungsdatum"
        type="ris:entscheidungsdatum"
        minOccurs="0"
      />
      <xs:element
        name="mitteilungsdatum"
        type="ris:mitteilungsdatum"
        minOccurs="0"
      />
      <xs:element name="dokumentnummer" type="ris:dokumentnummer" />
      <xs:element name="aktenzeichen" type="ris:aktenzeichen" />
      <xs:element name="gericht" type="ris:gericht" />
      <xs:element name="vermerk" type="ris:vermerk" minOccurs="0" />
    </xs:sequence>
    <xs:attribute name="domainTerm" type="ris:domainTerm" use="required" />
    <xs:attribute
      name="art"
      type="ris:nachgehendeEntscheidungArt"
      use="required"
    />
  </xs:complexType>

  <xs:simpleType name="nachgehendeEntscheidungArt">
    <xs:restriction base="xs:string">
      <xs:enumeration value="nachgehend">
        <xs:annotation>
          <xs:documentation xml:lang="de">
            Die nachgehende Entscheidung ist abgeschlossen.
          </xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="anhängig">
        <xs:annotation>
          <xs:documentation xml:lang="de">
            Die nachgehende Entscheidung ist ein anhängiges Verfahren.
          </xs:documentation>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>

  <xs:element name="vorgehendeEntscheidung" type="ris:vorgehendeEntscheidung" />
  <xs:complexType name="vorgehendeEntscheidung">
    <xs:annotation>
      <xs:documentation
        xml:lang="de"
      >Eine vorhergehende Entscheidung im Rechtszug des Verfahrens</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="dokumenttyp" type="ris:dokumenttyp" />
      <xs:element name="entscheidungsdatum" type="ris:entscheidungsdatum" />
      <xs:element name="dokumentnummer" type="ris:dokumentnummer" />
      <xs:element name="aktenzeichen" type="ris:aktenzeichen" />
      <xs:element name="gericht" type="ris:gericht" />
    </xs:sequence>
    <xs:attribute name="domainTerm" type="ris:domainTerm" use="required" />
  </xs:complexType>

  <xs:complexType name="referenzRichtung">
    <xs:annotation>
      <xs:documentation
        xml:lang="de"
      >Ist die Referenz eine Aktivzitierung oder eine Passivzitierung?</xs:documentation>
    </xs:annotation>
    <xs:simpleContent>
      <xs:extension base="ris:referenzRichtungValue">
        <xs:attribute name="domainTerm" type="ris:domainTerm" use="required" />
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>

  <xs:simpleType name="referenzRichtungValue">
    <xs:restriction base="xs:string">
      <xs:enumeration value="passiv">
        <xs:annotation>
          <xs:documentation>
            Im in der Referenz angegebenen Dokument wird dieses Dokument zitiert.
          </xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="aktiv">
        <xs:annotation>
          <xs:documentation>
            Dieses Dokument zitiert das in der Referenz angegebene Dokument.
          </xs:documentation>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>

  <xs:complexType name="referenzArt">
    <xs:annotation>
      <xs:documentation>
        Art der Referenz
      </xs:documentation>
    </xs:annotation>
    <xs:simpleContent>
      <xs:extension base="ris:stringWithDomainTerm" />
    </xs:simpleContent>
  </xs:complexType>

  <xs:complexType name="referenzRelativerPfad">
    <xs:annotation>
      <xs:documentation>
        Der Pfad um die referenzierte Dokeinheit aufzurufen.
      </xs:documentation>
    </xs:annotation>
    <xs:simpleContent>
      <xs:extension base="xs:anyURI">
        <xs:attribute name="domainTerm" type="ris:domainTerm" use="required" />
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>

  <xs:complexType name="referenzArtDerZitierung">
    <xs:annotation>
      <xs:documentation>
        Art der Zitierung
      </xs:documentation>
    </xs:annotation>
    <xs:simpleContent>
      <xs:extension base="ris:stringWithDomainTerm" />
    </xs:simpleContent>
  </xs:complexType>

  <xs:complexType name="dokumentnummer">
    <xs:annotation>
      <xs:documentation>
        Dokumentnummer
      </xs:documentation>
    </xs:annotation>
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute name="domainTerm" type="ris:domainTerm" use="required" />
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>

  <xs:complexType name="entscheidungsdatum">
    <xs:annotation>
      <xs:documentation>
        Entscheidungsdatum
      </xs:documentation>
    </xs:annotation>
    <xs:simpleContent>
      <xs:extension base="xs:date">
        <xs:attribute name="domainTerm" type="ris:domainTerm" use="required" />
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>

  <xs:complexType name="mitteilungsdatum">
    <xs:annotation>
      <xs:documentation>
        Mitteilungsdatum
      </xs:documentation>
    </xs:annotation>
    <xs:simpleContent>
      <xs:extension base="xs:date">
        <xs:attribute name="domainTerm" type="ris:domainTerm" use="required" />
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>

  <xs:complexType name="jurisAbkuerzung">
    <xs:annotation>
      <xs:documentation xml:lang="de">
        juris-Abkürzung
      </xs:documentation>
    </xs:annotation>
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute name="domainTerm" type="ris:domainTerm" use="required" />
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>

  <xs:complexType name="autor">
    <xs:annotation>
      <xs:documentation xml:lang="de">
        Autor(en)
      </xs:documentation>
    </xs:annotation>
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute name="domainTerm" type="ris:domainTerm" use="required" />
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>

  <xs:complexType name="titel">
    <xs:annotation>
      <xs:documentation xml:lang="de">
        Titel
      </xs:documentation>
    </xs:annotation>
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute name="domainTerm" type="ris:domainTerm" use="required" />
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>

  <xs:complexType name="veroeffentlichungsjahr">
    <xs:annotation>
      <xs:documentation xml:lang="de">
        Veröffentlichungsjahr
      </xs:documentation>
    </xs:annotation>
    <xs:simpleContent>
      <xs:extension base="xs:gYear">
        <xs:attribute name="domainTerm" type="ris:domainTerm" use="required" />
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>

  <xs:complexType name="vermerk">
    <xs:annotation>
      <xs:documentation>
        Vermerk zu einem anhängigen nachfolgenden Verfahren
      </xs:documentation>
    </xs:annotation>
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute name="domainTerm" type="ris:domainTerm" use="required" />
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>

  <xs:element name="fundstelle" type="ris:fundstelle" />
  <xs:complexType name="fundstelle">
    <xs:annotation>
      <xs:documentation xml:lang="de">
          Fundstelle
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="periodikum" type="ris:periodikum" />
      <xs:element name="zitatstelle" type="ris:zitatstelle" />
      <xs:element
        name="fundstellenTyp"
        type="ris:fundstellenTyp"
        minOccurs="0"
      />
    </xs:sequence>
    <xs:attribute name="domainTerm" type="ris:domainTerm" use="required" />
  </xs:complexType>

  <xs:complexType name="periodikum">
    <xs:annotation>
      <xs:documentation xml:lang="de">
        Periodikum in dem die Fundstelle gefunden werden kann
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="abkuerzung" type="ris:periodikumAbkuerzung" />
      <xs:element name="periodikumTyp" type="ris:periodikumTyp" minOccurs="0" />
      <xs:element name="titel" type="ris:titel" minOccurs="0" />
      <xs:element
        name="untertitel"
        type="ris:periodikumUntertitel"
        minOccurs="0"
      />
    </xs:sequence>
    <xs:attribute name="domainTerm" type="ris:domainTerm" use="required" />
  </xs:complexType>

  <xs:complexType name="periodikumAbkuerzung">
    <xs:annotation>
      <xs:documentation xml:lang="de">
        Abkürzung des Periodikums
      </xs:documentation>
    </xs:annotation>
    <xs:simpleContent>
      <xs:extension base="ris:stringWithDomainTerm" />
    </xs:simpleContent>
  </xs:complexType>

  <xs:complexType name="periodikumTyp">
    <xs:annotation>
      <xs:documentation xml:lang="de">
        Art des Periodikums
      </xs:documentation>
    </xs:annotation>
    <xs:simpleContent>
      <xs:extension base="ris:periodikumTypValue">
        <xs:attribute name="domainTerm" type="ris:domainTerm" use="required" />
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>

  <xs:simpleType name="periodikumTypValue">
    <xs:restriction base="xs:string">
      <xs:enumeration value="nichtamtlich" />
      <xs:enumeration value="amtlich" />
    </xs:restriction>
  </xs:simpleType>

  <xs:complexType name="periodikumTitel">
    <xs:annotation>
      <xs:documentation xml:lang="de">
        Titel des Periodikums
      </xs:documentation>
    </xs:annotation>
    <xs:simpleContent>
      <xs:extension base="ris:stringWithDomainTerm" />
    </xs:simpleContent>
  </xs:complexType>

  <xs:complexType name="periodikumUntertitel">
    <xs:annotation>
      <xs:documentation xml:lang="de">
        Untertitel des Periodikums
      </xs:documentation>
    </xs:annotation>
    <xs:simpleContent>
      <xs:extension base="ris:stringWithDomainTerm" />
    </xs:simpleContent>
  </xs:complexType>

  <xs:complexType name="zitatstelle">
    <xs:annotation>
      <xs:documentation xml:lang="de">
        Zitatstelle innerhalb des Periodikums in dem die Fundstelle gefunden werden kann
      </xs:documentation>
    </xs:annotation>
    <xs:simpleContent>
      <xs:extension base="ris:stringWithDomainTerm" />
    </xs:simpleContent>
  </xs:complexType>

  <xs:complexType name="fundstellenTyp">
    <xs:annotation>
      <xs:documentation xml:lang="de">
        Art der Fundstelle
      </xs:documentation>
    </xs:annotation>
    <xs:simpleContent>
      <xs:extension base="ris:fundstellenTypValue">
        <xs:attribute name="domainTerm" type="ris:domainTerm" use="required" />
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>

  <xs:simpleType name="fundstellenTypValue">
    <xs:restriction base="xs:string">
      <xs:enumeration value="nichtamtlich" />
      <xs:enumeration value="amtlich" />
    </xs:restriction>
  </xs:simpleType>

  <!-- otherAnalysis -->

  <xs:element
    name="dokumentarischeKurztexte"
    type="ris:dokumentarischeKurztexte"
  />
  <xs:complexType name="dokumentarischeKurztexte">
    <xs:annotation>
      <xs:documentation xml:lang="de">
        Dokumentarische Kurztexte
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="titelzeile" type="ris:titelzeile" />
      <xs:any
        maxOccurs="unbounded"
        minOccurs="0"
        namespace="##targetNamespace"
      />
    </xs:sequence>
    <xs:attribute name="domainTerm" type="ris:domainTerm" use="required" />
  </xs:complexType>

  <xs:complexType name="titelzeile">
    <xs:annotation>
      <xs:documentation xml:lang="de">
        Titelzeile
      </xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="akn:blocksreq">
        <xs:attribute name="domainTerm" type="ris:domainTerm" use="required" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
</xs:schema>
