xsd/caselaw-pending-proceeding-metadata.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xs:schema
  xmlns:xs="http://www.w3.org/2001/XMLSchema"
  xmlns:ris="http://rechtsinformationen.bund.de/schema/ris/0.1/"
  elementFormDefault="qualified"
  targetNamespace="http://rechtsinformationen.bund.de/schema/ris/0.1/"
>
  <xs:import
    namespace="http://www.w3.org/XML/1998/namespace"
    schemaLocation="./akn/xml.xsd"
  />

  <xs:redefine schemaLocation="ris.xsd">
    <xs:complexType name="meta">
      <xs:complexContent>
        <xs:restriction base="ris:meta">
          <xs:sequence>
            <xs:element name="dokumenttyp" type="ris:dokumenttyp" />
            <xs:element name="gericht" type="ris:gericht" />
            <xs:element
              name="fehlerhafteGerichte"
              type="ris:fehlerhafteGerichte"
              minOccurs="0"
            />
            <xs:element name="regionen" type="ris:regionen" />
            <xs:element
              name="dokumentationsstelle"
              type="ris:dokumentationsstelle"
              minOccurs="0"
            />
            <xs:element name="aktenzeichenListe" type="ris:aktenzeichenListe" />
            <xs:element
              name="abweichendeDaten"
              type="ris:abweichendeDaten"
              minOccurs="0"
            />
            <xs:element
              name="abweichendeDokumentnummern"
              type="ris:abweichendeDokumentnummern"
              minOccurs="0"
            />
            <xs:element
              name="sachgebiete"
              type="ris:sachgebiete"
              minOccurs="0"
            />
            <xs:element name="erledigung" type="ris:erledigung" minOccurs="0" />
          </xs:sequence>
        </xs:restriction>
      </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="dokumentarischeKurztexte">
      <xs:annotation>
        <xs:documentation xml:lang="de">
          Dokumentarische Kurztexte
        </xs:documentation>
      </xs:annotation>
      <xs:complexContent>
        <xs:restriction base="ris:dokumentarischeKurztexte">
          <xs:sequence>
            <xs:element name="titelzeile" type="ris:titelzeile" />
          </xs:sequence>
          <xs:attribute
            name="domainTerm"
            type="ris:domainTerm"
            use="required"
          />
        </xs:restriction>
      </xs:complexContent>
    </xs:complexType>
  </xs:redefine>
</xs:schema>
