xsd/caselaw-decision-metadata.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xs:schema
  xmlns:xs="http://www.w3.org/2001/XMLSchema"
  xmlns:ris="http://rechtsinformationen.bund.de/schema/ris/0.1"
  elementFormDefault="qualified"
  targetNamespace="http://rechtsinformationen.bund.de/schema/ris/0.1"
>
  <xs:annotation>
    <xs:documentation xml:lang="de">
      XSD-Schema für Definitionen im ris-namespace die nur für Entscheidungen in der Rechtsprechung gelten.
    </xs:documentation>
  </xs:annotation>

  <xs:import
    namespace="http://www.w3.org/XML/1998/namespace"
    schemaLocation="./akn/xml.xsd"
  />

  <xs:redefine schemaLocation="ris.xsd">
    <xs:complexType name="meta">
      <xs:complexContent>
        <xs:restriction base="ris:meta">
          <xs:sequence>
            <xs:element name="dokumenttyp" type="ris:dokumenttyp" />
            <xs:element name="gericht" type="ris:gericht" />
            <xs:element
              name="fehlerhafteGerichte"
              type="ris:fehlerhafteGerichte"
              minOccurs="0"
            />
            <xs:element name="regionen" type="ris:regionen" />
            <xs:element
              name="dokumentationsstelle"
              type="ris:dokumentationsstelle"
              minOccurs="0"
            />
            <xs:element name="aktenzeichenListe" type="ris:aktenzeichenListe" />
            <xs:element
              name="datenDerMuendlichenVerhandlung"
              type="ris:datenDerMuendlichenVerhandlung"
              minOccurs="0"
            />
            <xs:element
              name="abweichendeDaten"
              type="ris:abweichendeDaten"
              minOccurs="0"
            />
            <xs:element
              name="abweichendeDokumentnummern"
              type="ris:abweichendeDokumentnummern"
              minOccurs="0"
            />
            <xs:element
              name="abweichendeEclis"
              type="ris:abweichendeEclis"
              minOccurs="0"
            />
            <xs:element
              name="sachgebiete"
              type="ris:sachgebiete"
              minOccurs="0"
            />
            <xs:element name="rechtskraft" type="ris:rechtskraft" />
            <xs:element
              name="definitionen"
              type="ris:definitionen"
              minOccurs="0"
            />
            <xs:element
              name="tarifvertraege"
              type="ris:tarifvertraege"
              minOccurs="0"
            />
            <xs:element name="quellen" type="ris:quellen" minOccurs="0" />
            <xs:element
              name="streitjahre"
              type="ris:streitjahre"
              minOccurs="0"
            />
            <xs:element
              name="berufsbilder"
              type="ris:berufsbilder"
              minOccurs="0"
            />
            <xs:element
              name="kuendigungsgruende"
              type="ris:kuendigungsgruende"
              minOccurs="0"
            />
            <xs:element
              name="gesetzgebungsauftrag"
              type="ris:gesetzgebungsauftrag"
              minOccurs="0"
            />
            <xs:element
              name="herkunftslaender"
              type="ris:herkunftslaender"
              minOccurs="0"
            />
            <xs:element
              name="vorabdokument"
              type="ris:vorabdokument"
              minOccurs="0"
            />
            <xs:element name="personen" type="ris:personen" minOccurs="0" />
          </xs:sequence>
        </xs:restriction>
      </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="dokumentarischeKurztexte">
      <xs:annotation>
        <xs:documentation xml:lang="de">
          Dokumentarische Kurztexte
        </xs:documentation>
      </xs:annotation>
      <xs:complexContent>
        <xs:restriction base="ris:dokumentarischeKurztexte">
          <xs:sequence>
            <xs:element
              name="entscheidungsnamen"
              type="ris:entscheidungsnamen"
              minOccurs="0"
            />
            <xs:element name="titelzeile" type="ris:titelzeile" />
            <xs:element
              name="orientierungssatz"
              type="ris:orientierungssatz"
              minOccurs="0"
            />
            <xs:element
              name="sonstigerOrientierungssatz"
              type="ris:sonstigerOrientierungssatz"
              minOccurs="0"
            />
          </xs:sequence>
          <xs:attribute
            name="domainTerm"
            type="ris:domainTerm"
            use="required"
          />
        </xs:restriction>
      </xs:complexContent>
    </xs:complexType>
  </xs:redefine>
</xs:schema>
