xsd/caselaw-decision.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xs:schema
  xmlns:xs="http://www.w3.org/2001/XMLSchema"
  xmlns:akn="http://docs.oasis-open.org/legaldocml/ns/akn/3.0"
  xmlns:ris="http://rechtsinformationen.bund.de/schema/ris/0.1"
  elementFormDefault="qualified"
  targetNamespace="http://docs.oasis-open.org/legaldocml/ns/akn/3.0"
>
  <xs:annotation>
    <xs:documentation xml:lang="de">
      XSD-Schema für Entscheidungen in der Rechtsprechung
    </xs:documentation>
  </xs:annotation>

  <xs:import
    namespace="http://www.w3.org/XML/1998/namespace"
    schemaLocation="./akn/xml.xsd"
  />
  <xs:import
    namespace="http://rechtsinformationen.bund.de/schema/ris/0.1"
    schemaLocation="caselaw-decision-metadata.xsd"
  />

  <xs:redefine schemaLocation="./akn/akomantoso30.xsd">
    <xs:complexType name="akomaNtosoType">
      <xs:complexContent>
        <xs:restriction base="akn:akomaNtosoType">
          <xs:sequence>
            <xs:element ref="akn:judgment" />
          </xs:sequence>
        </xs:restriction>
      </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="judgmentStructure">
      <xs:complexContent>
        <xs:restriction base="akn:judgmentStructure">
          <xs:sequence>
            <xs:element ref="akn:meta" />
            <xs:element ref="akn:header" />
            <xs:element ref="akn:judgmentBody" />
          </xs:sequence>
          <xs:attribute
            name="name"
            type="xs:string"
            fixed="/akn/ontology/de/concept/documenttype/bund/rechtsprechung/entscheidung"
            use="required"
          />
        </xs:restriction>
      </xs:complexContent>
    </xs:complexType>

    <xs:group name="judgmentBlock">
      <xs:choice>
        <xs:element ref="akn:introduction">
          <xs:annotation>
            <xs:documentation xml:lang="de">
                Leitsatz oder Gliederung (wenn beide vorhanden sind in dieser Reihenfolge)
              </xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element ref="akn:background">
          <xs:annotation>
            <xs:documentation xml:lang="de">
                Tatbestand
              </xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element ref="akn:motivation">
          <xs:annotation>
            <xs:documentation xml:lang="de">
                Gründe, Entscheidungsgründe, Sonstiger Langtext oder Abweichende Meinung
              </xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element ref="akn:decision">
          <xs:annotation>
            <xs:documentation xml:lang="de">
                Tenor
              </xs:documentation>
          </xs:annotation>
        </xs:element>
      </xs:choice>
    </xs:group>
  </xs:redefine>
</xs:schema>
