xsd/literature-uli-metadata.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xs:schema
  xmlns:xs="http://www.w3.org/2001/XMLSchema"
  xmlns:ris="http://rechtsinformationen.bund.de/schema/ris/0.1"
  elementFormDefault="qualified"
  targetNamespace="http://rechtsinformationen.bund.de/schema/ris/0.1"
>
  <xs:annotation>
    <xs:documentation xml:lang="de">
      XSD-Schema für Definitionen im ris-namespace die nur für unselbstständige Literatur gelten.
    </xs:documentation>
  </xs:annotation>

  <xs:import
    namespace="http://www.w3.org/XML/1998/namespace"
    schemaLocation="./akn/xml.xsd"
  />

  <xs:redefine schemaLocation="./ris/ris.xsd">
    <xs:complexType name="meta">
      <xs:complexContent>
        <xs:restriction base="ris:meta">
          <xs:sequence>
            <xs:element
              name="dokumenttypen"
              type="ris:dokumenttypen"
              minOccurs="0"
            />
            <xs:element
              name="sachgebiete"
              type="ris:sachgebiete"
              minOccurs="0"
            />
            <xs:element
              name="veroeffentlichungsJahre"
              type="ris:veroeffentlichungsJahre"
            />
            <xs:element name="gliederung" type="ris:gliederung" minOccurs="0" />
            <xs:element name="regionen" type="ris:regionen" minOccurs="0" />
            <xs:element
              name="verweisnotationen"
              type="ris:verweisnotationen"
              minOccurs="0"
            />
            <xs:element
              name="problemkreise"
              type="ris:problemkreise"
              minOccurs="0"
            />
            <xs:element
              name="dubletteToleriert"
              type="ris:dubletteToleriert"
              minOccurs="0"
            />
            <xs:element name="personen" type="ris:personen" minOccurs="0" />
            <xs:element
              name="organisationen"
              type="ris:organisationen"
              minOccurs="0"
            />
          </xs:sequence>
        </xs:restriction>
      </xs:complexContent>
    </xs:complexType>
  </xs:redefine>
</xs:schema>
