xsd/ris.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xs:schema
  xmlns:xs="http://www.w3.org/2001/XMLSchema"
  xmlns:akn="http://docs.oasis-open.org/legaldocml/ns/akn/3.0"
  xmlns:ris="http://rechtsinformationen.bund.de/schema/ris/0.1/"
  elementFormDefault="qualified"
  targetNamespace="http://rechtsinformationen.bund.de/schema/ris/0.1/"
>
  <xs:annotation>
    <xs:documentation xml:lang="de">
      Allgemeine Elemente für die Schemas für die verschiedenen Dokumente des
      Rechtsinformationssystems. Dies beinhaltet nicht die Elemente für das
      Normen-Schema. Diese werden in LegalDocMl.de definiert. Die
      dokumentart-spezifischen Ergänzungen zu diesem Schema sind in weiteren
      Schema-Dateien definiert:
      * Rechtsprechung: ./caselaw.xsd
    </xs:documentation>
  </xs:annotation>

  <xs:import
    namespace="http://www.w3.org/XML/1998/namespace"
    schemaLocation="./akn/xml.xsd"
  />
  <xs:import
    namespace="http://docs.oasis-open.org/legaldocml/ns/akn/3.0"
    schemaLocation="./akn/akomantoso30.xsd"
  />

  <xs:element name="meta" type="ris:meta" />

  <xs:complexType name="meta">
    <xs:annotation>
      <xs:documentation xml:lang="de">
        Metadaten über das Dokument. Je nach Dokart sind hier andere Metadaten
        angegeben.
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element ref="ris:dokumenttyp" />
      <xs:any
        maxOccurs="unbounded"
        minOccurs="0"
        processContents="lax"
        namespace="##targetNamespace"
      />
    </xs:sequence>
  </xs:complexType>

  <xs:element name="dokumenttyp" type="ris:dokumenttyp" />
  <xs:complexType name="dokumenttyp">
    <xs:annotation>
      <xs:documentation xml:lang="de">
        Der Typ des Dokuments (z.B. Urteil, Vergleich, Beschluss, ...)
      </xs:documentation>
    </xs:annotation>
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute name="domainTerm" type="ris:domainTerm" use="required" />
        <xs:attributeGroup ref="akn:idreq" />
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>

  <xs:element name="gericht" type="ris:gericht" />
  <xs:complexType name="gericht">
    <xs:annotation>
      <xs:documentation xml:lang="de">Gericht</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="gerichtstyp" type="ris:gerichtstyp" />
      <xs:element name="gerichtsort" type="ris:gerichtsort" minOccurs="0" />
      <xs:element
        name="gerichtsbarkeit"
        type="ris:gerichtsbarkeit"
        minOccurs="0"
      />
      <xs:element name="spruchkoerper" type="ris:spruchkoerper" minOccurs="0" />
      <xs:element
        name="sitzDerAussenstelle"
        type="ris:sitzDerAussenstelle"
        minOccurs="0"
      />
    </xs:sequence>
    <xs:attribute name="domainTerm" type="ris:domainTerm" use="required" />
    <xs:attribute name="refersTo" type="akn:conceptRef" fixed="#gericht" />
  </xs:complexType>

  <xs:complexType name="gerichtstyp">
    <xs:annotation>
      <xs:documentation
        xml:lang="de"
      >Gerichtstyp (AG, VG, VerwG, ...)</xs:documentation>
    </xs:annotation>
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute name="domainTerm" type="ris:domainTerm" use="required" />
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>

  <xs:complexType name="gerichtsort">
    <xs:annotation>
      <xs:documentation
        xml:lang="de"
      >Ort des Sitzes des Gerichts</xs:documentation>
    </xs:annotation>
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute name="domainTerm" type="ris:domainTerm" use="required" />
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>

  <xs:complexType name="gerichtsbarkeit">
    <xs:annotation>
      <xs:documentation xml:lang="de">Gerichtsbarkeit</xs:documentation>
    </xs:annotation>
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute name="domainTerm" type="ris:domainTerm" use="required" />
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>

  <xs:complexType name="spruchkoerper">
    <xs:annotation>
      <xs:documentation xml:lang="de">Spruchkörper</xs:documentation>
    </xs:annotation>
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute name="domainTerm" type="ris:domainTerm" use="required" />
        <xs:attribute
          name="refersTo"
          type="akn:conceptRef"
          fixed="#spruchkoerper"
          use="required"
        />
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>

  <xs:complexType name="sitzDerAussenstelle">
    <xs:annotation>
      <xs:documentation xml:lang="de">Sitz der Außenstelle</xs:documentation>
    </xs:annotation>
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute name="domainTerm" type="ris:domainTerm" use="required" />
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>

  <xs:element name="fehlerhafteGerichte" type="ris:fehlerhafteGerichte" />
  <xs:complexType name="fehlerhafteGerichte">
    <xs:annotation>
      <xs:documentation xml:lang="de">
        Fehlerhafte Angaben zu Gerichten
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element
        name="fehlerhaftesGericht"
        type="ris:fehlerhaftesGericht"
        maxOccurs="unbounded"
      />
    </xs:sequence>
    <xs:attribute name="domainTerm" type="ris:domainTerm" use="required" />
  </xs:complexType>

  <xs:complexType name="fehlerhaftesGericht">
    <xs:annotation>
      <xs:documentation xml:lang="de">
        Fehlerhafte Angabe eines Gerichtes
      </xs:documentation>
    </xs:annotation>
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute name="domainTerm" type="ris:domainTerm" use="required" />
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>

  <xs:element name="regionen" type="ris:regionen" />
  <xs:complexType name="regionen">
    <xs:annotation>
      <xs:documentation xml:lang="de">
        Regionen in denen dieses Dokument eine Bedeutung hat
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="region" type="ris:region" maxOccurs="unbounded" />
    </xs:sequence>
    <xs:attribute name="domainTerm" type="ris:domainTerm" use="required" />
  </xs:complexType>

  <xs:complexType name="region">
    <xs:annotation>
      <!-- in the harmonization document this field doesn't contain the abbreviation but the full name, but in caselaw we often only have an abbreviation -->
      <xs:documentation xml:lang="de">
        Abkürzung der Region.

        Für Bundesländer:
          Grundsätzlich: Die 2 Buchstaben Abkürzung nach ISO 3166-2
          Niedersachsen abweichend ND
          Hamburg HA
          Bremen BR
        Für Länder: ISO 3166-1 alpha-3

        Es werden weitere Codes für andere und ehemalige Gebiete verwendet.
        Zum Beispiel NL für Neue Länder, AL für Alte Länder oder PR für
        Preußen
      </xs:documentation>
    </xs:annotation>
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute name="domainTerm" type="ris:domainTerm" use="required" />
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>

  <xs:element name="dokumentationsstelle" type="ris:dokumentationsstelle" />
  <xs:complexType name="dokumentationsstelle">
    <xs:annotation>
      <xs:documentation xml:lang="de">
        Dokumentationsstelle die dieses Dokument eingepflegt hat
      </xs:documentation>
    </xs:annotation>
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute name="domainTerm" type="ris:domainTerm" use="required" />
        <xs:attribute
          name="refersTo"
          type="akn:conceptRef"
          fixed="#documentationoffice-dokumentationsstelle"
          use="required"
        />
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>

  <xs:element name="aktenzeichenListe" type="ris:aktenzeichenListe" />
  <xs:complexType name="aktenzeichenListe">
    <xs:annotation>
      <xs:documentation xml:lang="de">
        Aktenzeichen des Dokuments

        Der erste Eintrag ist das primäre Aktenzeichen.
        Weitere Einträge sind abweichende Aktenzeichen, die auch für dieses
        Dokument verwendet werden.
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element
        name="aktenzeichen"
        type="ris:aktenzeichen"
        minOccurs="1"
        maxOccurs="unbounded"
      />
    </xs:sequence>
    <xs:attribute name="domainTerm" type="ris:domainTerm" use="required" />
  </xs:complexType>
  <xs:complexType name="aktenzeichen">
    <xs:annotation>
      <xs:documentation xml:lang="de">Aktenzeichen</xs:documentation>
    </xs:annotation>
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute name="domainTerm" type="ris:domainTerm" use="required" />
        <xs:attribute
          name="refersTo"
          type="akn:conceptRef"
          fixed="#aktenzeichen"
        >
          <xs:annotation>
            <xs:documentation xml:lang="de">
                Das primäre Aktenzeichen ist hierdurch gekennzeichnet.
              </xs:documentation>
          </xs:annotation>
        </xs:attribute>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>

  <xs:element
    name="datenDerMuendlichenVerhandlung"
    type="ris:datenDerMuendlichenVerhandlung"
  />
  <xs:complexType name="datenDerMuendlichenVerhandlung">
    <xs:annotation>
      <xs:documentation xml:lang="de">
        Liste der Daten der mündlichen Verhandlung bei einem Gericht
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element
        name="datumDerMuendlichenVerhandlung"
        type="ris:datumDerMuendlichenVerhandlung"
        maxOccurs="unbounded"
      />
    </xs:sequence>
    <xs:attribute name="domainTerm" type="ris:domainTerm" use="required" />
  </xs:complexType>

  <xs:complexType name="datumDerMuendlichenVerhandlung">
    <xs:annotation>
      <xs:documentation xml:lang="de">
        Datum einer mündlichen Verhandlung bei einem Gericht
      </xs:documentation>
    </xs:annotation>
    <xs:simpleContent>
      <xs:extension base="xs:date">
        <xs:attribute name="domainTerm" type="ris:domainTerm" use="required" />
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>

  <xs:element name="abweichendeDaten" type="ris:abweichendeDaten" />
  <xs:complexType name="abweichendeDaten">
    <xs:annotation>
      <xs:documentation xml:lang="de">
        Abweichende Daten
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element
        name="abweichendesDatum"
        type="ris:abweichendesDatum"
        maxOccurs="unbounded"
      />
    </xs:sequence>
    <xs:attribute name="domainTerm" type="ris:domainTerm" use="required" />
  </xs:complexType>

  <xs:complexType name="abweichendesDatum">
    <xs:annotation>
      <xs:documentation xml:lang="de">
        Abweichendes Datum
      </xs:documentation>
    </xs:annotation>
    <xs:simpleContent>
      <xs:extension base="xs:date">
        <xs:attribute name="domainTerm" type="ris:domainTerm" use="required" />
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>

  <xs:element
    name="abweichendeDokumentnummern"
    type="ris:abweichendeDokumentnummern"
  />
  <xs:complexType name="abweichendeDokumentnummern">
    <xs:annotation>
      <xs:documentation xml:lang="de">
        Abweichende Dokumentnummern

        Weitere Dokumentnummern die für dieses Dokument verwendet werden
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element
        name="abweichendeDokumentnummer"
        type="ris:abweichendeDokumentnummer"
        maxOccurs="unbounded"
      />
    </xs:sequence>
    <xs:attribute name="domainTerm" type="ris:domainTerm" use="required" />
  </xs:complexType>

  <xs:complexType name="abweichendeDokumentnummer">
    <xs:annotation>
      <xs:documentation xml:lang="de">
        Abweichende Dokumentnummer
      </xs:documentation>
    </xs:annotation>
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute name="domainTerm" type="ris:domainTerm" use="required" />
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>

  <xs:element name="abweichendeEclis" type="ris:abweichendeEclis" />
  <xs:complexType name="abweichendeEclis">
    <xs:annotation>
      <xs:documentation xml:lang="de">
        Abweichende ECLIs

        Weitere ECLIs die für dieses Dokument verwendet werden
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element
        name="abweichenderEcli"
        type="ris:abweichenderEcli"
        maxOccurs="unbounded"
      />
    </xs:sequence>
    <xs:attribute name="domainTerm" type="ris:domainTerm" use="required" />
  </xs:complexType>

  <xs:complexType name="abweichenderEcli">
    <xs:annotation>
      <xs:documentation xml:lang="de">
        Abweichender ECLI
      </xs:documentation>
    </xs:annotation>
    <xs:simpleContent>
      <xs:extension base="ris:ecli">
        <xs:attribute name="domainTerm" type="ris:domainTerm" use="required" />
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>

  <xs:element name="sachgebiete" type="ris:sachgebiete" />
  <xs:complexType name="sachgebiete">
    <xs:annotation>
      <xs:documentation xml:lang="de">
        Sachgebiete
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element
        name="sachgebiet"
        type="ris:sachgebiet"
        maxOccurs="unbounded"
      />
    </xs:sequence>
    <xs:attribute name="domainTerm" type="ris:domainTerm" use="required" />
  </xs:complexType>

  <xs:complexType name="sachgebiet">
    <xs:annotation>
      <xs:documentation xml:lang="de">
        Sachgebiet
      </xs:documentation>
    </xs:annotation>
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:annotation>
          <xs:documentation xml:lang="de">
            Menschenlesbarer Name des Sachgebiets
          </xs:documentation>
        </xs:annotation>
        <xs:attribute name="domainTerm" type="ris:domainTerm" use="required" />
        <xs:attribute
          name="notation"
          type="ris:sachgebietNotation"
          use="required"
        />
        <xs:attribute
          name="sachgebiet-id"
          type="ris:sachgebietId"
          use="required"
        />
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>

  <xs:simpleType name="sachgebietNotation">
    <xs:annotation>
      <xs:documentation xml:lang="de">
        Ist das Sachgebiet nach neuer (neu) oder alter (alt) Sachgebietsliste und Notation angegeben.
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:enumeration value="neu" />
      <xs:enumeration value="alt" />
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="sachgebietId">
    <xs:union memberTypes="ris:sachgebietIdNeu ris:sachgebietIdAlt" />
  </xs:simpleType>

  <xs:element name="rechtskraft" type="ris:rechtskraft" />
  <xs:complexType name="rechtskraft">
    <xs:annotation>
      <xs:documentation
        xml:lang="de"
      >Hat das Gerichtsurteil Rechtskraft erlangt?</xs:documentation>
    </xs:annotation>
    <xs:simpleContent>
      <xs:extension base="ris:rechtskraftValue">
        <xs:attribute name="domainTerm" type="ris:domainTerm" use="required" />
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:simpleType name="rechtskraftValue">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Ja" />
      <xs:enumeration value="Nein" />
    </xs:restriction>
  </xs:simpleType>

  <xs:element name="definitionen" type="ris:definitionen" />
  <xs:complexType name="definitionen">
    <xs:annotation>
      <xs:documentation xml:lang="de">
        Definitionen von Begriffen
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element
        name="definition"
        type="ris:definition"
        maxOccurs="unbounded"
      />
    </xs:sequence>
    <xs:attribute name="domainTerm" type="ris:domainTerm" use="required" />
  </xs:complexType>

  <xs:complexType name="definition">
    <xs:annotation>
      <xs:documentation xml:lang="de">
        Definition eines Begriffs
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="definierterBegriff" type="ris:definierterBegriff" />
      <xs:element ref="akn:ref" minOccurs="0">
        <xs:annotation>
          <xs:documentation xml:lang="de">
            Stelle im Text (Randnummer) der Definition
          </xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="domainTerm" type="ris:domainTerm" use="required" />
  </xs:complexType>

  <xs:complexType name="definierterBegriff">
    <xs:annotation>
      <xs:documentation xml:lang="de">
        Begriff der definiert wird
      </xs:documentation>
    </xs:annotation>
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute name="domainTerm" type="ris:domainTerm" use="required" />
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>

  <xs:element name="tarifvertraege" type="ris:tarifvertraege" />
  <xs:complexType name="tarifvertraege">
    <xs:annotation>
      <xs:documentation xml:lang="de">
        Tarifverträge
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element
        name="tarifvertrag"
        type="ris:tarifvertrag"
        maxOccurs="unbounded"
      />
    </xs:sequence>
    <xs:attribute name="domainTerm" type="ris:domainTerm" use="required" />
  </xs:complexType>

  <xs:complexType name="tarifvertrag">
    <xs:annotation>
      <xs:documentation xml:lang="de">
        Tarifvertrag
      </xs:documentation>
    </xs:annotation>
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute name="domainTerm" type="ris:domainTerm" use="required" />
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>

  <xs:element name="quellen" type="ris:quellen" />
  <xs:complexType name="quellen">
    <xs:annotation>
      <xs:documentation xml:lang="de">
        Quellen
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="quelle" type="ris:quelle" maxOccurs="unbounded" />
    </xs:sequence>
    <xs:attribute name="domainTerm" type="ris:domainTerm" use="required" />
  </xs:complexType>

  <xs:complexType name="quelle">
    <xs:annotation>
      <xs:documentation xml:lang="de">
        Quelle
      </xs:documentation>
    </xs:annotation>
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute name="domainTerm" type="ris:domainTerm" use="required" />
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>

  <xs:element name="streitjahre" type="ris:streitjahre" />
  <xs:complexType name="streitjahre">
    <xs:annotation>
      <xs:documentation xml:lang="de">
        Streitjahre
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element
        name="streitjahr"
        type="ris:streitjahr"
        maxOccurs="unbounded"
      />
    </xs:sequence>
    <xs:attribute name="domainTerm" type="ris:domainTerm" use="required" />
  </xs:complexType>

  <xs:complexType name="streitjahr">
    <xs:annotation>
      <xs:documentation xml:lang="de">
        Streitjahr
      </xs:documentation>
    </xs:annotation>
    <xs:simpleContent>
      <xs:extension base="xs:gYear">
        <xs:attribute name="domainTerm" type="ris:domainTerm" use="required" />
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>

  <xs:element name="berufsbilder" type="ris:berufsbilder" />
  <xs:complexType name="berufsbilder">
    <xs:annotation>
      <xs:documentation xml:lang="de">
        Berufsbilder
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element
        name="berufsbild"
        type="ris:berufsbild"
        maxOccurs="unbounded"
      />
    </xs:sequence>
    <xs:attribute name="domainTerm" type="ris:domainTerm" use="required" />
  </xs:complexType>

  <xs:complexType name="berufsbild">
    <xs:annotation>
      <xs:documentation xml:lang="de">
        Berufsbild
      </xs:documentation>
    </xs:annotation>
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute name="domainTerm" type="ris:domainTerm" use="required" />
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>

  <xs:element name="kuendigungsgruende" type="ris:kuendigungsgruende" />
  <xs:complexType name="kuendigungsgruende">
    <xs:annotation>
      <xs:documentation xml:lang="de">
        Kündigungsgründe
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element
        name="kuendigungsgrund"
        type="ris:kuendigungsgrund"
        maxOccurs="unbounded"
      />
    </xs:sequence>
    <xs:attribute name="domainTerm" type="ris:domainTerm" use="required" />
  </xs:complexType>

  <xs:complexType name="kuendigungsgrund">
    <xs:annotation>
      <xs:documentation xml:lang="de">
        Kündigungsgrund
      </xs:documentation>
    </xs:annotation>
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute name="domainTerm" type="ris:domainTerm" use="required" />
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>

  <xs:element name="gesetzgebungsauftrag" type="ris:gesetzgebungsauftrag" />
  <xs:complexType name="gesetzgebungsauftrag">
    <xs:annotation>
      <xs:documentation xml:lang="de">Gesetzgebungsauftrag</xs:documentation>
    </xs:annotation>
    <xs:simpleContent>
      <!-- ist aktuell ein freitext feld, wie sinnvoll ist das? -->
      <xs:extension base="xs:string">
        <xs:attribute name="domainTerm" type="ris:domainTerm" use="required" />
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>

  <xs:element name="herkunftslaender" type="ris:herkunftslaender" />
  <xs:complexType name="herkunftslaender">
    <xs:annotation>
      <xs:documentation xml:lang="de">
        Herkunftsländer
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element
        name="herkunftsland"
        type="ris:herkunftsland"
        maxOccurs="unbounded"
      />
    </xs:sequence>
    <xs:attribute name="domainTerm" type="ris:domainTerm" use="required" />
  </xs:complexType>

  <xs:complexType name="herkunftsland">
    <xs:annotation>
      <xs:documentation xml:lang="de">
        Herkunftsland
      </xs:documentation>
    </xs:annotation>
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute name="domainTerm" type="ris:domainTerm" use="required" />
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>

  <xs:element name="vorabdokument" type="ris:vorabdokument" />
  <xs:complexType name="vorabdokument">
    <xs:annotation>
      <xs:documentation xml:lang="de">Vorab-Dokument</xs:documentation>
    </xs:annotation>
    <xs:simpleContent>
      <xs:extension base="ris:vorabdokumentValue">
        <xs:attribute name="domainTerm" type="ris:domainTerm" use="required" />
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:simpleType name="vorabdokumentValue">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Ja" />
    </xs:restriction>
  </xs:simpleType>

  <xs:element name="erledigung" type="ris:erledigung" />
  <xs:complexType name="erledigung">
    <xs:annotation>
      <xs:documentation
        xml:lang="de"
      >Ist das Rechtsanhändige Verfahren erledigt?</xs:documentation>
    </xs:annotation>
    <xs:simpleContent>
      <!-- ist aktuell ein freitext feld, wie sinnvoll ist das? -->
      <xs:extension base="xs:string">
        <xs:attribute name="domainTerm" type="ris:domainTerm" use="required" />
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>

  <!-- TODO: (Malte Laukötter, 2026-04-07) i don't think we should globally define the norm object like this, i rather
          just keep the type here and define the element in the caselaw-specific schema -->
  <xs:element name="norm" type="ris:normReference" />
  <xs:complexType name="normReference">
    <xs:annotation>
      <xs:documentation
        xml:lang="de"
      >Ein Verweis auf eine Norm</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="abkuerzung" type="ris:normReferenceAbkuerzung" />
      <xs:element name="titel" type="ris:normReferenceTitel" minOccurs="0" />
      <xs:element
        name="einzelnorm"
        type="ris:einzelnorm"
        minOccurs="0"
        maxOccurs="unbounded"
      />
    </xs:sequence>
    <xs:attribute name="domainTerm" type="ris:domainTerm" use="required" />
  </xs:complexType>

  <xs:complexType name="normReferenceAbkuerzung">
    <xs:annotation>
      <xs:documentation
        xml:lang="de"
      >abgekürzte Bezeichnung der Norm</xs:documentation>
    </xs:annotation>
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute name="domainTerm" type="ris:domainTerm" use="required" />
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>

  <xs:complexType name="normReferenceTitel">
    <xs:annotation>
      <xs:documentation
        xml:lang="de"
      >Amtliche Langüberschrift</xs:documentation>
    </xs:annotation>
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute name="domainTerm" type="ris:domainTerm" use="required" />
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>

  <xs:complexType name="einzelnorm">
    <xs:annotation>
      <xs:documentation
        xml:lang="de"
      >Ein Teil einer Norm. Zum Beispiel ein spezifischer Paragraph.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="bezeichnung" type="ris:einzelnormBezeichnung" />
      <xs:element name="gesetzeskraft" type="ris:gesetzeskraft" minOccurs="0" />
      <xs:element name="fassungsdatum" type="ris:fassungsdatum" minOccurs="0" />
      <xs:element name="jahr" type="ris:einzelnormJahr" minOccurs="0" />
    </xs:sequence>
    <xs:attribute name="domainTerm" type="ris:domainTerm" use="required" />
  </xs:complexType>

  <xs:complexType name="einzelnormBezeichnung">
    <xs:annotation>
      <xs:documentation
        xml:lang="de"
      >Bezeichnung der Einzelnorm</xs:documentation>
    </xs:annotation>
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute name="domainTerm" type="ris:domainTerm" use="required" />
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>

  <xs:complexType name="gesetzeskraft">
    <xs:annotation>
      <xs:documentation
        xml:lang="de"
      >Information über die Gesetzeskraft der Einzelnorm</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="gesetzeskraftTyp" type="ris:gesetzeskraftTyp" />
      <xs:element name="geltungsbereich" type="ris:geltungsbereich" />
    </xs:sequence>
    <xs:attribute name="domainTerm" type="ris:domainTerm" use="required" />
  </xs:complexType>

  <xs:complexType name="gesetzeskraftTyp">
    <xs:annotation>
      <xs:documentation xml:lang="de">Typ der Gesetzeskraft</xs:documentation>
    </xs:annotation>
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute name="domainTerm" type="ris:domainTerm" use="required" />
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>

  <xs:complexType name="geltungsbereich">
    <xs:annotation>
      <xs:documentation xml:lang="de">Geltungsbereich</xs:documentation>
    </xs:annotation>
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute name="domainTerm" type="ris:domainTerm" use="required" />
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>

  <xs:complexType name="fassungsdatum">
    <xs:annotation>
      <xs:documentation
        xml:lang="de"
      >Datum der referenzierten Fassung der Norm</xs:documentation>
    </xs:annotation>
    <xs:simpleContent>
      <xs:extension base="xs:date">
        <xs:attribute name="domainTerm" type="ris:domainTerm" use="required" />
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>

  <xs:complexType name="einzelnormJahr">
    <xs:annotation>
      <xs:documentation xml:lang="de">Jahr</xs:documentation>
    </xs:annotation>
    <xs:simpleContent>
      <xs:extension base="xs:gYear">
        <xs:attribute name="domainTerm" type="ris:domainTerm" use="required" />
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>

  <!-- Referenzen -->
  <xs:element name="referenzRechtsprechung" type="ris:referenzRechtsprechung" />
  <xs:complexType name="referenzRechtsprechung">
    <xs:annotation>
      <xs:documentation
        xml:lang="de"
      >Referenz auf ein Rechtsprechungsdokument</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="richtung" type="ris:referenzRichtung" />
      <xs:element name="referenzArt" type="ris:referenzArt" fixed="caselaw" />
      <xs:element name="relativerPfad" type="ris:referenzRelativerPfad" />
      <xs:element name="artDerZitierung" type="ris:referenzArtDerZitierung" />
      <xs:element name="dokumentnummer" type="ris:dokumentnummer" />
      <xs:element name="gericht" type="ris:gericht" />
      <xs:element name="entscheidungsdatum" type="ris:entscheidungsdatum" />
      <xs:element ref="ris:dokumenttyp" />
      <xs:element name="aktenzeichen" type="ris:aktenzeichen" />
    </xs:sequence>
    <xs:attribute name="domainTerm" type="ris:domainTerm" use="required" />
  </xs:complexType>

  <xs:element
    name="referenzVerwaltungsvorschrift"
    type="ris:referenzVerwaltungsvorschrift"
  />
  <xs:complexType name="referenzVerwaltungsvorschrift">
    <xs:annotation>
      <xs:documentation
        xml:lang="de"
      >Referenz auf eine Verwaltungsvorschrift</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="richtung" type="ris:referenzRichtung" />
      <xs:element name="referenzArt" type="ris:referenzArt" fixed="adm" />
      <xs:element name="relativerPfad" type="ris:referenzRelativerPfad" />
      <xs:element name="artDerZitierung" type="ris:referenzArtDerZitierung" />
      <xs:element name="dokumentnummer" type="ris:dokumentnummer" />
      <xs:element name="jurisAbkuerzung" type="ris:jurisAbkuerzung" />
      <xs:element name="fundstelle" type="ris:fundstelle" />
    </xs:sequence>
    <xs:attribute name="domainTerm" type="ris:domainTerm" use="required" />
  </xs:complexType>

  <xs:element
    name="referenzUnselbstaendigeLiteratur"
    type="ris:referenzUnselbstaendigeLiteratur"
  />
  <xs:complexType name="referenzUnselbstaendigeLiteratur">
    <xs:annotation>
      <xs:documentation
        xml:lang="de"
      >Referenz auf ein unselbstständiges Literaturdokument</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="richtung" type="ris:referenzRichtung" />
      <xs:element name="referenzArt" type="ris:referenzArt" fixed="uli" />
      <xs:element name="relativerPfad" type="ris:referenzRelativerPfad" />
      <xs:element name="dokumentnummer" type="ris:dokumentnummer" />
      <xs:element name="autor" type="ris:autor" />
      <xs:element ref="ris:dokumenttyp" />
      <!-- dokumenttypLiteratur? -->
      <xs:element name="fundstelle" type="ris:fundstelle" />
    </xs:sequence>
    <xs:attribute name="domainTerm" type="ris:domainTerm" use="required" />
  </xs:complexType>

  <xs:element
    name="referenzSelbstaendigeLiteratur"
    type="ris:referenzSelbstaendigeLiteratur"
  />
  <xs:complexType name="referenzSelbstaendigeLiteratur">
    <xs:annotation>
      <xs:documentation
        xml:lang="de"
      >Referenz auf ein selbstständiges Literaturdokument</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="richtung" type="ris:referenzRichtung" />
      <xs:element name="referenzArt" type="ris:referenzArt" fixed="sli" />
      <xs:element name="relativerPfad" type="ris:referenzRelativerPfad" />
      <xs:element name="dokumentnummer" type="ris:dokumentnummer" />
      <xs:element name="autor" type="ris:autor" />
      <xs:element name="titel" type="ris:normReferenceTitel" />
      <xs:element
        name="veroeffentlichungsjahr"
        type="ris:veroeffentlichungsjahr"
      />
    </xs:sequence>
    <xs:attribute name="domainTerm" type="ris:domainTerm" use="required" />
  </xs:complexType>

  <xs:element name="nachgehend" type="ris:nachgehend" />
  <xs:complexType name="nachgehend">
    <xs:annotation>
      <xs:documentation
        xml:lang="de"
      >Eine nachgehende Entscheidung oder anhängiges Verfahren im Rechtszug des Verfahrens</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element ref="ris:dokumenttyp" />
      <xs:element
        name="entscheidungsdatum"
        type="ris:entscheidungsdatum"
        minOccurs="0"
      />
      <xs:element
        name="mitteilungsdatum"
        type="ris:mitteilungsdatum"
        minOccurs="0"
      />
      <xs:element name="dokumentnummer" type="ris:dokumentnummer" />
      <xs:element name="aktenzeichen" type="ris:aktenzeichen" />
      <xs:element name="gericht" type="ris:gericht" />
      <xs:element name="vermerk" type="ris:vermerk" minOccurs="0" />
    </xs:sequence>
    <xs:attribute name="domainTerm" type="ris:domainTerm" use="required" />
    <xs:attribute name="art" type="ris:nachgehendArt" use="required" />
  </xs:complexType>

  <xs:simpleType name="nachgehendArt">
    <xs:restriction base="xs:string">
      <xs:enumeration value="nachgehend">
        <xs:annotation>
          <xs:documentation xml:lang="de">
            Die nachgehende Entscheidung ist abgeschlossen.
          </xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="anhängig">
        <xs:annotation>
          <xs:documentation xml:lang="de">
            Die nachgehende Entscheidung ist ein anhängiges Verfahren.
          </xs:documentation>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>

  <xs:element name="vorgehend" type="ris:vorgehend" />
  <xs:complexType name="vorgehend">
    <xs:annotation>
      <xs:documentation
        xml:lang="de"
      >Eine vorhergehende Entscheidung im Rechtszug des Verfahrens</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element ref="ris:dokumenttyp" />
      <xs:element name="entscheidungsdatum" type="ris:entscheidungsdatum" />
      <xs:element name="dokumentnummer" type="ris:dokumentnummer" />
      <xs:element name="aktenzeichen" type="ris:aktenzeichen" />
      <xs:element name="gericht" type="ris:gericht" />
    </xs:sequence>
    <xs:attribute name="domainTerm" type="ris:domainTerm" use="required" />
  </xs:complexType>

  <xs:complexType name="referenzRichtung">
    <xs:annotation>
      <xs:documentation
        xml:lang="de"
      >Ist die Referenz eine Aktivzitierung oder eine Passivzitierung?</xs:documentation>
    </xs:annotation>
    <xs:simpleContent>
      <xs:extension base="ris:referenzRichtungValue">
        <xs:attribute name="domainTerm" type="ris:domainTerm" use="required" />
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:simpleType name="referenzRichtungValue">
    <xs:restriction base="xs:string">
      <xs:enumeration value="passiv">
        <xs:annotation>
          <xs:documentation>
            Im in der Referenz angegebenen Dokument wird dieses Dokument zitiert.
          </xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="aktiv">
        <xs:annotation>
          <xs:documentation>
            Dieses Dokument zitiert das in der Referenz angegebene Dokument.
          </xs:documentation>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>

  <xs:complexType name="referenzArt">
    <xs:annotation>
      <xs:documentation>
        Art der Referenz
      </xs:documentation>
    </xs:annotation>
    <xs:simpleContent>
      <xs:extension base="ris:stringWithDomainTerm" />
    </xs:simpleContent>
  </xs:complexType>

  <xs:complexType name="referenzRelativerPfad">
    <xs:annotation>
      <xs:documentation>
        Der Pfad um die referenzierte Dokeinheit aufzurufen.
      </xs:documentation>
    </xs:annotation>
    <xs:simpleContent>
      <xs:extension base="xs:anyURI">
        <xs:attribute name="domainTerm" type="ris:domainTerm" use="required" />
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>

  <xs:complexType name="referenzArtDerZitierung">
    <xs:annotation>
      <xs:documentation>
        Art der Zitierung
      </xs:documentation>
    </xs:annotation>
    <xs:simpleContent>
      <xs:extension base="ris:stringWithDomainTerm" />
    </xs:simpleContent>
  </xs:complexType>

  <xs:complexType name="dokumentnummer">
    <xs:annotation>
      <xs:documentation>
        Dokumentnummer
      </xs:documentation>
    </xs:annotation>
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute name="domainTerm" type="ris:domainTerm" use="required" />
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>

  <xs:complexType name="entscheidungsdatum">
    <xs:annotation>
      <xs:documentation>
        Entscheidungsdatum
      </xs:documentation>
    </xs:annotation>
    <xs:simpleContent>
      <xs:extension base="xs:date">
        <xs:attribute name="domainTerm" type="ris:domainTerm" use="required" />
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>

  <xs:complexType name="mitteilungsdatum">
    <xs:annotation>
      <xs:documentation>
        Mitteilungsdatum
      </xs:documentation>
    </xs:annotation>
    <xs:simpleContent>
      <xs:extension base="xs:date">
        <xs:attribute name="domainTerm" type="ris:domainTerm" use="required" />
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>

  <xs:complexType name="jurisAbkuerzung">
    <xs:annotation>
      <xs:documentation xml:lang="de">
        juris-Abkürzung
      </xs:documentation>
    </xs:annotation>
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute name="domainTerm" type="ris:domainTerm" use="required" />
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>

  <xs:complexType name="autor">
    <xs:annotation>
      <xs:documentation xml:lang="de">
        Autor(en)
      </xs:documentation>
    </xs:annotation>
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute name="domainTerm" type="ris:domainTerm" use="required" />
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>

  <xs:complexType name="titel">
    <xs:annotation>
      <xs:documentation xml:lang="de">
        Titel
      </xs:documentation>
    </xs:annotation>
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute name="domainTerm" type="ris:domainTerm" use="required" />
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>

  <xs:complexType name="veroeffentlichungsjahr">
    <xs:annotation>
      <xs:documentation xml:lang="de">
        Veröffentlichungsjahr
      </xs:documentation>
    </xs:annotation>
    <xs:simpleContent>
      <xs:extension base="xs:gYear">
        <xs:attribute name="domainTerm" type="ris:domainTerm" use="required" />
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>

  <xs:complexType name="vermerk">
    <xs:annotation>
      <xs:documentation>
        Vermerk zu einem anhängigen nachfolgenden Verfahren
      </xs:documentation>
    </xs:annotation>
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute name="domainTerm" type="ris:domainTerm" use="required" />
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>

  <xs:element name="fundstelle" type="ris:fundstelle" />
  <xs:complexType name="fundstelle">
    <xs:annotation>
      <xs:documentation xml:lang="de">
          Fundstelle
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="periodikum" type="ris:periodikum" />
      <xs:element name="zitatstelle" type="ris:zitatstelle" />
      <xs:element
        name="fundstellenTyp"
        type="ris:fundstellenTyp"
        minOccurs="0"
      />
    </xs:sequence>
    <xs:attribute name="domainTerm" type="ris:domainTerm" use="required" />
  </xs:complexType>

  <xs:complexType name="periodikum">
    <xs:annotation>
      <xs:documentation xml:lang="de">
        Periodikum in dem die Fundstelle gefunden werden kann
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="abkuerzung" type="ris:periodikumAbkuerzung" />
      <xs:element name="periodikumTyp" type="ris:periodikumTyp" minOccurs="0" />
      <xs:element name="titel" type="ris:titel" />
      <xs:element
        name="untertitel"
        type="ris:periodikumUntertitel"
        minOccurs="0"
      />
    </xs:sequence>
    <xs:attribute name="domainTerm" type="ris:domainTerm" use="required" />
  </xs:complexType>

  <xs:complexType name="periodikumAbkuerzung">
    <xs:annotation>
      <xs:documentation xml:lang="de">
        Abkürzung des Periodikums
      </xs:documentation>
    </xs:annotation>
    <xs:simpleContent>
      <xs:extension base="ris:stringWithDomainTerm" />
    </xs:simpleContent>
  </xs:complexType>

  <xs:complexType name="periodikumTyp">
    <xs:annotation>
      <xs:documentation xml:lang="de">
        Art des Periodikums
      </xs:documentation>
    </xs:annotation>
    <xs:simpleContent>
      <xs:extension base="ris:periodikumTypValue">
        <xs:attribute name="domainTerm" type="ris:domainTerm" use="required" />
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>

  <xs:simpleType name="periodikumTypValue">
    <xs:restriction base="xs:string">
      <xs:enumeration value="nichtamtlich" />
      <xs:enumeration value="amtlich" />
    </xs:restriction>
  </xs:simpleType>

  <xs:complexType name="periodikumTitel">
    <xs:annotation>
      <xs:documentation xml:lang="de">
        Titel des Periodikums
      </xs:documentation>
    </xs:annotation>
    <xs:simpleContent>
      <xs:extension base="ris:stringWithDomainTerm" />
    </xs:simpleContent>
  </xs:complexType>

  <xs:complexType name="periodikumUntertitel">
    <xs:annotation>
      <xs:documentation xml:lang="de">
        Untertitel des Periodikums
      </xs:documentation>
    </xs:annotation>
    <xs:simpleContent>
      <xs:extension base="ris:stringWithDomainTerm" />
    </xs:simpleContent>
  </xs:complexType>

  <xs:complexType name="zitatstelle">
    <xs:annotation>
      <xs:documentation xml:lang="de">
        Zitatstelle innerhalb des Periodikums in dem die Fundstelle gefunden werden kann
      </xs:documentation>
    </xs:annotation>
    <xs:simpleContent>
      <xs:extension base="ris:stringWithDomainTerm" />
    </xs:simpleContent>
  </xs:complexType>

  <xs:complexType name="fundstellenTyp">
    <xs:annotation>
      <xs:documentation xml:lang="de">
        Art der Fundstelle
      </xs:documentation>
    </xs:annotation>
    <xs:simpleContent>
      <xs:extension base="ris:fundstellenTypValue">
        <xs:attribute name="domainTerm" type="ris:domainTerm" use="required" />
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>

  <xs:simpleType name="fundstellenTypValue">
    <xs:restriction base="xs:string">
      <xs:enumeration value="nichtamtlich" />
      <xs:enumeration value="amtlich" />
    </xs:restriction>
  </xs:simpleType>

  <!-- otherAnalysis -->
  <xs:element
    name="dokumentarischeKurztexte"
    type="ris:dokumentarischeKurztexte"
  />
  <xs:complexType name="dokumentarischeKurztexte">
    <xs:annotation>
      <xs:documentation xml:lang="de">
        Dokumentarische Kurztexte
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element
        name="entscheidungsnamen"
        type="ris:entscheidungsnamen"
        minOccurs="0"
      />
      <xs:element name="titelzeile" type="ris:titelzeile" />
      <xs:element
        name="orientierungssatz"
        type="ris:orientierungssatz"
        minOccurs="0"
      />
      <xs:element
        name="sonstigerOrientierungssatz"
        type="ris:sonstigerOrientierungssatz"
        minOccurs="0"
      />
    </xs:sequence>
    <xs:attribute name="domainTerm" type="ris:domainTerm" use="required" />
  </xs:complexType>

  <xs:complexType name="entscheidungsnamen">
    <xs:annotation>
      <xs:documentation xml:lang="de">
        Namen einer Gerichtsentscheidung
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element
        name="entscheidungsname"
        type="ris:entscheidungsname"
        maxOccurs="unbounded"
      />
    </xs:sequence>
    <xs:attribute name="domainTerm" type="ris:domainTerm" use="required" />
  </xs:complexType>

  <xs:complexType name="entscheidungsname">
    <xs:annotation>
      <xs:documentation xml:lang="de">
        Name einer Gerichtsentscheidung
      </xs:documentation>
    </xs:annotation>
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute name="domainTerm" type="ris:domainTerm" use="required" />
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>

  <xs:complexType name="titelzeile">
    <xs:annotation>
      <xs:documentation xml:lang="de">
        Titelzeile
      </xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="akn:blocksreq">
        <xs:attribute name="domainTerm" type="ris:domainTerm" use="required" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="orientierungssatz">
    <xs:annotation>
      <xs:documentation xml:lang="de">
        Orientierungssatz
      </xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="akn:blocksreq">
        <xs:attribute name="domainTerm" type="ris:domainTerm" use="required" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="sonstigerOrientierungssatz">
    <xs:annotation>
      <xs:documentation xml:lang="de">
        Sonstiger Orientierungssatz
      </xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="akn:blocksreq">
        <xs:attribute name="domainTerm" type="ris:domainTerm" use="required" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <!-- the global domainTerm attribute used for adding the domainTerm to non-ris elements -->
  <xs:attribute name="domainTerm" type="ris:domainTerm" />

  <xs:simpleType name="domainTerm">
    <xs:annotation>
      <xs:documentation xml:lang="de">
        Inhaltliche Beschreibung des XML Elements
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string" />
  </xs:simpleType>

  <xs:simpleType name="ecli">
    <xs:annotation>
      <xs:documentation xml:lang="de">
        European Case Law Identifier

        https://e-justice.europa.eu/topics/legislation-and-case-law/european-case-law-identifier-ecli_de
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:pattern
        value="ECLI:[A-Z]{2}:[A-Za-z0-9]{1,7}:[0-9]{4}:[A-Za-z0-9.]{1,25}"
      />
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="sachgebietIdNeu">
    <xs:annotation>
      <xs:documentation xml:lang="de">
        Identifier des Sachgebiets (neue Notation)
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:pattern value="[A-Z]{2}(-[0-9]{2})*" />
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="sachgebietIdAlt">
    <xs:annotation>
      <xs:documentation xml:lang="de">
        Identifier des Sachgebiets (alte Notation)
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:pattern value="53-[0-9]{3}N?|[0-9]{2}-|[0-9]{2}(-[0-9]{2}){1,3}" />
    </xs:restriction>
  </xs:simpleType>

  <xs:complexType name="stringWithDomainTerm">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute name="domainTerm" type="ris:domainTerm" use="required" />
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
</xs:schema>
