xsd/ris.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xs:schema
  xmlns:xs="http://www.w3.org/2001/XMLSchema"
  xmlns:akn="http://docs.oasis-open.org/legaldocml/ns/akn/3.0"
  xmlns:ris="http://rechtsinformationen.bund.de/schema/ris/0.1/"
  elementFormDefault="qualified"
  targetNamespace="http://rechtsinformationen.bund.de/schema/ris/0.1/"
>
  <xs:annotation>
    <xs:documentation xml:lang="de">
      Allgemeine Elemente für die Schemas für die verschiedenen Dokumente des
      Rechtsinformationssystems. Dies beinhaltet nicht die Elemente für das
      Normen-Schema. Diese werden in LegalDocMl.de definiert. Die
      dokumentart-spezifischen Ergänzungen zu diesem Schema sind in weiteren
      Schema-Dateien definiert:
      * Rechtsprechung: ./caselaw.xsd
    </xs:documentation>
  </xs:annotation>

  <xs:import
    namespace="http://www.w3.org/XML/1998/namespace"
    schemaLocation="./akn/xml.xsd"
  />
  <xs:import
    namespace="http://docs.oasis-open.org/legaldocml/ns/akn/3.0"
    schemaLocation="./akn/akomantoso30.xsd"
  />

  <xs:element name="meta" type="ris:meta" />

  <xs:complexType name="meta">
    <xs:annotation>
      <xs:documentation xml:lang="de">
        Metadaten über das Dokument. Je nach Dokart sind hier andere Metadaten
        angegeben.
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element ref="ris:dokumenttyp" />
      <xs:any
        maxOccurs="unbounded"
        minOccurs="0"
        processContents="lax"
        namespace="##targetNamespace"
      />
    </xs:sequence>
  </xs:complexType>

  <xs:element name="dokumenttyp" type="ris:dokumenttyp" />
  <xs:complexType name="dokumenttyp">
    <xs:annotation>
      <xs:documentation xml:lang="de">
        Der Typ des Dokuments (z.B. Urteil, Vergleich, Beschluss, ...)
      </xs:documentation>
    </xs:annotation>
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute name="domainTerm" type="ris:domainTerm" use="required" />
        <xs:attributeGroup ref="akn:idreq" />
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>

  <xs:element name="gericht" type="ris:gericht" />
  <xs:complexType name="gericht">
    <xs:annotation>
      <xs:documentation xml:lang="de">Gericht</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="gerichtstyp">
        <xs:annotation>
          <xs:documentation xml:lang="de">
            Gerichtstyp (AG, VG, VerwG, ...)
          </xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:simpleContent>
            <xs:extension base="xs:string">
              <xs:attribute
                name="domainTerm"
                type="ris:domainTerm"
                use="required"
              />
            </xs:extension>
          </xs:simpleContent>
        </xs:complexType>
      </xs:element>

      <xs:element name="gerichtsort" minOccurs="0">
        <xs:annotation>
          <xs:documentation xml:lang="de">
            Ort des Sitzes des Gerichts
          </xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:simpleContent>
            <xs:extension base="xs:string">
              <xs:attribute
                name="domainTerm"
                type="ris:domainTerm"
                use="required"
              />
            </xs:extension>
          </xs:simpleContent>
        </xs:complexType>
      </xs:element>

      <xs:element name="gerichtsbarkeit" minOccurs="0">
        <xs:annotation>
          <xs:documentation xml:lang="de">Gerichtsbarkeit</xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:simpleContent>
            <xs:extension base="xs:string">
              <xs:attribute
                name="domainTerm"
                type="ris:domainTerm"
                use="required"
              />
            </xs:extension>
          </xs:simpleContent>
        </xs:complexType>
      </xs:element>

      <xs:element name="spruchkoerper" minOccurs="0">
        <xs:annotation>
          <xs:documentation xml:lang="de">Spruchkörper</xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:simpleContent>
            <xs:extension base="xs:string">
              <xs:attribute
                name="domainTerm"
                type="ris:domainTerm"
                use="required"
              />
              <xs:attribute name="refersTo" use="required">
                <xs:simpleType>
                  <xs:restriction base="akn:conceptRef">
                    <xs:enumeration value="#spruchkoerper" />
                  </xs:restriction>
                </xs:simpleType>
              </xs:attribute>
            </xs:extension>
          </xs:simpleContent>
        </xs:complexType>
      </xs:element>

      <xs:element name="sitzDerAussenstelle" minOccurs="0">
        <xs:annotation>
          <xs:documentation xml:lang="de">
            Sitz der Außenstelle
          </xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:simpleContent>
            <xs:extension base="xs:string">
              <xs:attribute
                name="domainTerm"
                type="ris:domainTerm"
                use="required"
              />
            </xs:extension>
          </xs:simpleContent>
        </xs:complexType>
      </xs:element>
    </xs:sequence>

    <xs:attribute name="domainTerm" type="ris:domainTerm" use="required" />
    <xs:attribute name="refersTo">
      <xs:simpleType>
        <xs:restriction base="akn:conceptRef">
          <xs:enumeration value="#gericht" />
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
  </xs:complexType>

  <xs:element name="fehlerhafteGerichte" type="ris:fehlerhafteGerichte" />
  <xs:complexType name="fehlerhafteGerichte">
    <xs:annotation>
      <xs:documentation xml:lang="de">
        Fehlerhafte Angaben zu Gerichten
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="fehlerhaftesGericht" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation xml:lang="de">
            Fehlerhafte Angabe eines Gerichtes
          </xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:simpleContent>
            <xs:extension base="xs:string">
              <xs:attribute
                name="domainTerm"
                type="ris:domainTerm"
                use="required"
              />
            </xs:extension>
          </xs:simpleContent>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="domainTerm" type="ris:domainTerm" use="required" />
  </xs:complexType>

  <xs:element name="regionen" type="ris:regionen" />
  <xs:complexType name="regionen">
    <xs:annotation>
      <xs:documentation xml:lang="de">
        Regionen in denen dieses Dokument eine Bedeutung hat
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="region" maxOccurs="unbounded">
        <xs:annotation>
          <!-- in the harmonization document this field doesn't contain the abbreviation but the full name, but in caselaw we often only have an abbreviation -->
          <xs:documentation xml:lang="de">
            Abkürzung der Region.

            Für Bundesländer:
              Grundsätzlich: Die 2 Buchstaben Abkürzung nach ISO 3166-2
              Niedersachsen abweichend ND
              Hamburg HA
              Bremen BR
            Für Länder: ISO 3166-1 alpha-3

            Es werden weitere Codes für andere und ehemalige Gebiete verwendet.
            Zum Beispiel NL für Neue Länder, AL für Alte Länder oder PR für
            Preußen
          </xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:simpleContent>
            <xs:extension base="xs:string">
              <xs:attribute
                name="domainTerm"
                type="ris:domainTerm"
                use="required"
              />
            </xs:extension>
          </xs:simpleContent>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="domainTerm" type="ris:domainTerm" use="required" />
  </xs:complexType>

  <xs:element name="dokumentationsstelle" type="ris:dokumentationsstelle" />
  <xs:complexType name="dokumentationsstelle">
    <xs:annotation>
      <xs:documentation xml:lang="de">
        Dokumentationsstelle die dieses Dokument eingepflegt hat
      </xs:documentation>
    </xs:annotation>
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute name="domainTerm" type="ris:domainTerm" use="required" />
        <xs:attribute name="refersTo" use="required">
          <xs:simpleType>
            <xs:restriction base="akn:conceptRef">
              <xs:enumeration
                value="#documentationoffice-dokumentationsstelle"
              />
            </xs:restriction>
          </xs:simpleType>
        </xs:attribute>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>

  <xs:element name="aktenzeichenListe" type="ris:aktenzeichenListe" />
  <xs:complexType name="aktenzeichenListe">
    <xs:annotation>
      <xs:documentation xml:lang="de">
        Aktenzeichen des Dokuments

        Der erste Eintrag ist das primäre Aktenzeichen.
        Weitere Einträge sind abweichende Aktenzeichen, die auch für dieses
        Dokument verwendet werden.
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element
        name="aktenzeichen"
        type="ris:aktenzeichen"
        minOccurs="1"
        maxOccurs="unbounded"
      />
    </xs:sequence>
    <xs:attribute name="domainTerm" type="ris:domainTerm" use="required" />
  </xs:complexType>
  <xs:complexType name="aktenzeichen">
    <xs:annotation>
      <xs:documentation xml:lang="de">Aktenzeichen</xs:documentation>
    </xs:annotation>
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute name="domainTerm" type="ris:domainTerm" use="required" />
        <xs:attribute name="refersTo">
          <xs:annotation>
            <xs:documentation xml:lang="de">
                Das primäre Aktenzeichen ist hierdurch gekennzeichnet.
              </xs:documentation>
          </xs:annotation>
          <xs:simpleType>
            <xs:restriction base="akn:conceptRef">
              <xs:enumeration value="#aktenzeichen" />
            </xs:restriction>
          </xs:simpleType>
        </xs:attribute>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>

  <xs:element
    name="datenDerMuendlichenVerhandlung"
    type="ris:datenDerMuendlichenVerhandlung"
  />
  <xs:complexType name="datenDerMuendlichenVerhandlung">
    <xs:annotation>
      <xs:documentation xml:lang="de">
        Liste der Daten der mündlichen Verhandlung bei einem Gericht
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="datumDerMuendlichenVerhandlung" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation xml:lang="de">
            Datum einer mündlichen Verhandlung bei einem Gericht
          </xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:simpleContent>
            <xs:extension base="xs:date">
              <xs:attribute
                name="domainTerm"
                type="ris:domainTerm"
                use="required"
              />
            </xs:extension>
          </xs:simpleContent>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="domainTerm" type="ris:domainTerm" use="required" />
  </xs:complexType>

  <xs:element name="abweichendeDaten" type="ris:abweichendeDaten" />
  <xs:complexType name="abweichendeDaten">
    <xs:annotation>
      <xs:documentation xml:lang="de">
        Abweichende Daten
        <!-- TODO: (Malte Laukötter, 2026-04-01) what does this date represent? -->
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="abweichendesDatum" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation xml:lang="de">
            Abweichendes Datum
            <!-- TODO: (Malte Laukötter, 2026-04-01) what does this date represent? -->
          </xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:simpleContent>
            <xs:extension base="xs:date">
              <xs:attribute
                name="domainTerm"
                type="ris:domainTerm"
                use="required"
              />
            </xs:extension>
          </xs:simpleContent>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="domainTerm" type="ris:domainTerm" use="required" />
  </xs:complexType>

  <xs:element
    name="abweichendeDokumentnummern"
    type="ris:abweichendeDokumentnummern"
  />
  <xs:complexType name="abweichendeDokumentnummern">
    <xs:annotation>
      <xs:documentation xml:lang="de">
        Abweichende Dokumentnummern

        Weitere Dokumentnummern die für dieses Dokument verwendet werden
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="abweichendeDokumentnummer" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation xml:lang="de">
            Abweichende Dokumentnummer
          </xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:simpleContent>
            <xs:extension base="xs:string">
              <xs:attribute
                name="domainTerm"
                type="ris:domainTerm"
                use="required"
              />
            </xs:extension>
          </xs:simpleContent>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="domainTerm" type="ris:domainTerm" use="required" />
  </xs:complexType>

  <xs:element name="abweichendeEclis" type="ris:abweichendeEclis" />
  <xs:complexType name="abweichendeEclis">
    <xs:annotation>
      <xs:documentation xml:lang="de">
        Abweichende ECLIs

        Weitere ECLIs die für dieses Dokument verwendet werden
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="abweichenderEcli" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation xml:lang="de">
            Abweichender ECLI
          </xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:simpleContent>
            <xs:extension base="ris:ecli">
              <xs:attribute
                name="domainTerm"
                type="ris:domainTerm"
                use="required"
              />
            </xs:extension>
          </xs:simpleContent>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="domainTerm" type="ris:domainTerm" use="required" />
  </xs:complexType>

  <xs:element name="sachgebiete" type="ris:sachgebiete" />
  <xs:complexType name="sachgebiete">
    <xs:annotation>
      <xs:documentation xml:lang="de">
        Sachgebiete
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="sachgebiet" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation xml:lang="de">
            Sachgebiet
          </xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:simpleContent>
            <xs:extension base="xs:string">
              <xs:annotation>
                <xs:documentation xml:lang="de">
                  Menschenlesbarer Name des Sachgebiets
                </xs:documentation>
              </xs:annotation>
              <xs:attribute
                name="domainTerm"
                type="ris:domainTerm"
                use="required"
              />
              <xs:attribute name="notation" use="required">
                <xs:annotation>
                  <xs:documentation xml:lang="de">
                    Ist das Sachgebiet nach neuer (neu) oder alter (alt) Sachgebietsliste und Notation angegeben.
                  </xs:documentation>
                </xs:annotation>
                <xs:simpleType>
                  <xs:restriction base="xs:string">
                    <xs:enumeration value="neu" />
                    <xs:enumeration value="alt" />
                  </xs:restriction>
                </xs:simpleType>
              </xs:attribute>
              <xs:attribute name="sachgebiet-id" use="required">
                <xs:simpleType>
                  <xs:union
                    memberTypes="ris:sachgebietIdNeu ris:sachgebietIdAlt"
                  />
                </xs:simpleType>
              </xs:attribute>
            </xs:extension>
          </xs:simpleContent>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="domainTerm" type="ris:domainTerm" use="required" />
  </xs:complexType>

  <xs:element name="rechtskraft" type="ris:rechtskraft" />
  <xs:complexType name="rechtskraft">
    <xs:annotation>
      <xs:documentation
        xml:lang="de"
      >Hat das Gerichtsurteil Rechtskraft erlangt?</xs:documentation>
    </xs:annotation>
    <xs:simpleContent>
      <xs:extension base="ris:rechtskraftValue">
        <xs:attribute name="domainTerm" type="ris:domainTerm" use="required" />
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:simpleType name="rechtskraftValue">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Ja" />
      <xs:enumeration value="Nein" />
    </xs:restriction>
  </xs:simpleType>

  <xs:element name="definitionen" type="ris:definitionen" />
  <xs:complexType name="definitionen">
    <xs:annotation>
      <xs:documentation xml:lang="de">
        Definitionen von Begriffen
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="definition" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation xml:lang="de">
            Definition eines Begriffs
          </xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:sequence>
            <xs:element name="definierterBegriff">
              <xs:annotation>
                <xs:documentation xml:lang="de">
                  Begriff der definiert wird
                </xs:documentation>
              </xs:annotation>
              <xs:complexType>
                <xs:simpleContent>
                  <xs:extension base="xs:string">
                    <xs:attribute
                      name="domainTerm"
                      type="ris:domainTerm"
                      use="required"
                    />
                  </xs:extension>
                </xs:simpleContent>
              </xs:complexType>
            </xs:element>
            <xs:element ref="akn:ref" minOccurs="0">
              <xs:annotation>
                <xs:documentation xml:lang="de">
                  Stelle im Text (Randnummer) der Definition
                </xs:documentation>
              </xs:annotation>
            </xs:element>
          </xs:sequence>
          <xs:attribute
            name="domainTerm"
            type="ris:domainTerm"
            use="required"
          />
        </xs:complexType>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="domainTerm" type="ris:domainTerm" use="required" />
  </xs:complexType>

  <xs:element name="tarifvertraege" type="ris:tarifvertraege" />
  <xs:complexType name="tarifvertraege">
    <xs:annotation>
      <xs:documentation xml:lang="de">
        Tarifverträge
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="tarifvertrag" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation xml:lang="de">
            Tarifvertrag
          </xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:simpleContent>
            <xs:extension base="xs:string">
              <xs:attribute
                name="domainTerm"
                type="ris:domainTerm"
                use="required"
              />
            </xs:extension>
          </xs:simpleContent>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="domainTerm" type="ris:domainTerm" use="required" />
  </xs:complexType>

  <xs:element name="quellen" type="ris:quellen" />
  <xs:complexType name="quellen">
    <xs:annotation>
      <xs:documentation xml:lang="de">
        Quellen
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="quelle" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation xml:lang="de">
            Quelle
          </xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:simpleContent>
            <xs:extension base="xs:string">
              <xs:attribute
                name="domainTerm"
                type="ris:domainTerm"
                use="required"
              />
            </xs:extension>
          </xs:simpleContent>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="domainTerm" type="ris:domainTerm" use="required" />
  </xs:complexType>

  <xs:element name="streitjahre" type="ris:streitjahre" />
  <xs:complexType name="streitjahre">
    <xs:annotation>
      <xs:documentation xml:lang="de">
        Streitjahre
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="streitjahr" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation xml:lang="de">
            Streitjahr
          </xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:simpleContent>
            <xs:extension base="xs:gYear">
              <xs:attribute
                name="domainTerm"
                type="ris:domainTerm"
                use="required"
              />
            </xs:extension>
          </xs:simpleContent>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="domainTerm" type="ris:domainTerm" use="required" />
  </xs:complexType>

  <xs:element name="berufsbilder" type="ris:berufsbilder" />
  <xs:complexType name="berufsbilder">
    <xs:annotation>
      <xs:documentation xml:lang="de">
        Berufsbilder
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="berufsbild" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation xml:lang="de">
            Berufsbild
          </xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:simpleContent>
            <xs:extension base="xs:string">
              <xs:attribute
                name="domainTerm"
                type="ris:domainTerm"
                use="required"
              />
            </xs:extension>
          </xs:simpleContent>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="domainTerm" type="ris:domainTerm" use="required" />
  </xs:complexType>

  <xs:element name="kuendigungsgruende" type="ris:kuendigungsgruende" />
  <xs:complexType name="kuendigungsgruende">
    <xs:annotation>
      <xs:documentation xml:lang="de">
        Kündigungsgründe
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="kuendigungsgrund" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation xml:lang="de">
            Kündigungsgrund
          </xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:simpleContent>
            <xs:extension base="xs:string">
              <xs:attribute
                name="domainTerm"
                type="ris:domainTerm"
                use="required"
              />
            </xs:extension>
          </xs:simpleContent>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="domainTerm" type="ris:domainTerm" use="required" />
  </xs:complexType>

  <xs:element name="gesetzgebungsauftrag" type="ris:gesetzgebungsauftrag" />
  <xs:complexType name="gesetzgebungsauftrag">
    <xs:annotation>
      <xs:documentation xml:lang="de">Gesetzgebungsauftrag</xs:documentation>
    </xs:annotation>
    <xs:simpleContent>
      <!-- ist aktuell ein freitext feld, wie sinnvoll ist das? -->
      <xs:extension base="xs:string">
        <xs:attribute name="domainTerm" type="ris:domainTerm" use="required" />
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>

  <xs:element name="herkunftslaender" type="ris:herkunftslaender" />
  <xs:complexType name="herkunftslaender">
    <xs:annotation>
      <xs:documentation xml:lang="de">
        Herkunftsländer
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="herkunftsland" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation xml:lang="de">
            Herkunftsland
          </xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:simpleContent>
            <xs:extension base="xs:string">
              <xs:attribute
                name="domainTerm"
                type="ris:domainTerm"
                use="required"
              />
            </xs:extension>
          </xs:simpleContent>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="domainTerm" type="ris:domainTerm" use="required" />
  </xs:complexType>

  <xs:element name="vorabdokument" type="ris:vorabdokument" />
  <xs:complexType name="vorabdokument">
    <xs:annotation>
      <xs:documentation xml:lang="de">Vorab-Dokument</xs:documentation>
    </xs:annotation>
    <xs:simpleContent>
      <xs:extension base="ris:vorabdokumentValue">
        <xs:attribute name="domainTerm" type="ris:domainTerm" use="required" />
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:simpleType name="vorabdokumentValue">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Ja" />
    </xs:restriction>
  </xs:simpleType>

  <!-- TODO: (Malte Laukötter, 2026-04-07) i don't think we should globally define the norm object like this, i rather
          just keep the type here and define the element in the caselaw-specific schema -->
  <xs:element name="norm" type="ris:normReference" />
  <xs:complexType name="normReference">
    <xs:annotation>
      <xs:documentation
        xml:lang="de"
      >Ein Verweis auf eine Norm</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="abkuerzung">
        <xs:complexType>
          <xs:annotation>
            <xs:documentation xml:lang="de">
              abgekürzte Bezeichnung der Norm
            </xs:documentation>
          </xs:annotation>
          <xs:simpleContent>
            <xs:extension base="xs:string">
              <xs:attribute
                name="domainTerm"
                type="ris:domainTerm"
                use="required"
              />
            </xs:extension>
          </xs:simpleContent>
        </xs:complexType>
      </xs:element>
      <xs:element name="titel" minOccurs="0">
        <xs:complexType>
          <xs:annotation>
            <xs:documentation xml:lang="de">
              Amtliche Langüberschrift
            </xs:documentation>
          </xs:annotation>
          <xs:simpleContent>
            <xs:extension base="xs:string">
              <xs:attribute
                name="domainTerm"
                type="ris:domainTerm"
                use="required"
              />
            </xs:extension>
          </xs:simpleContent>
        </xs:complexType>
      </xs:element>
      <xs:element name="einzelnorm" minOccurs="0" maxOccurs="unbounded">
        <xs:complexType>
          <xs:annotation>
            <xs:documentation xml:lang="de">
              Ein Teil einer Norm. Zum Beispiel ein spezifischer Paragraph.
            </xs:documentation>
          </xs:annotation>
          <xs:sequence>
            <xs:element name="bezeichnung">
              <xs:complexType>
                <xs:annotation>
                  <xs:documentation xml:lang="de">
                    Bezeichnung der Einzelnorm
                  </xs:documentation>
                </xs:annotation>
                <xs:simpleContent>
                  <xs:extension base="xs:string">
                    <xs:attribute
                      name="domainTerm"
                      type="ris:domainTerm"
                      use="required"
                    />
                  </xs:extension>
                </xs:simpleContent>
              </xs:complexType>
            </xs:element>
            <xs:element name="gesetzeskraft" minOccurs="0">
              <xs:complexType>
                <xs:annotation>
                  <xs:documentation xml:lang="de">
                    Information über die Gesetzeskraft der Einzelnorm
                  </xs:documentation>
                </xs:annotation>
                <xs:sequence>
                  <xs:element name="gesetzeskraftTyp">
                    <xs:complexType>
                      <xs:annotation>
                        <xs:documentation xml:lang="de">
                          Typ der Gesetzeskraft
                        </xs:documentation>
                      </xs:annotation>
                      <xs:simpleContent>
                        <xs:extension base="xs:string">
                          <xs:attribute
                            name="domainTerm"
                            type="ris:domainTerm"
                            use="required"
                          />
                        </xs:extension>
                      </xs:simpleContent>
                    </xs:complexType>
                  </xs:element>
                  <xs:element name="geltungsbereich">
                    <xs:complexType>
                      <xs:annotation>
                        <xs:documentation xml:lang="de">
                          Geltungsbereich
                        å</xs:documentation>
                      </xs:annotation>
                      <xs:simpleContent>
                        <xs:extension base="xs:string">
                          <xs:attribute
                            name="domainTerm"
                            type="ris:domainTerm"
                            use="required"
                          />
                        </xs:extension>
                      </xs:simpleContent>
                    </xs:complexType>
                  </xs:element>
                </xs:sequence>
                <xs:attribute
                  name="domainTerm"
                  type="ris:domainTerm"
                  use="required"
                />
              </xs:complexType>
            </xs:element>
            <xs:element name="fassungsdatum" minOccurs="0">
              <xs:complexType>
                <xs:annotation>
                  <xs:documentation xml:lang="de">
                    Datum der referenzierten Fassung der Norm
                  </xs:documentation>
                </xs:annotation>
                <xs:simpleContent>
                  <xs:extension base="xs:date">
                    <xs:attribute
                      name="domainTerm"
                      type="ris:domainTerm"
                      use="required"
                    />
                  </xs:extension>
                </xs:simpleContent>
              </xs:complexType>
            </xs:element>
            <xs:element name="jahr" minOccurs="0">
              <xs:complexType>
                <xs:annotation>
                  <xs:documentation xml:lang="de">
                    Jahr
                  </xs:documentation>
                </xs:annotation>
                <xs:simpleContent>
                  <xs:extension base="xs:gYear">
                    <xs:attribute
                      name="domainTerm"
                      type="ris:domainTerm"
                      use="required"
                    />
                  </xs:extension>
                </xs:simpleContent>
              </xs:complexType>
            </xs:element>
          </xs:sequence>
          <xs:attribute
            name="domainTerm"
            type="ris:domainTerm"
            use="required"
          />
        </xs:complexType>
      </xs:element>
    </xs:sequence>

    <xs:attribute name="domainTerm" type="ris:domainTerm" use="required" />
  </xs:complexType>

  <!-- Referenzen -->
  <xs:element name="referenzRechtsprechung" type="ris:referenzRechtsprechung" />
  <xs:complexType name="referenzRechtsprechung">
    <xs:annotation>
      <xs:documentation
        xml:lang="de"
      >Referenz auf ein Rechtsprechungsdokument</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="richtung" type="ris:referenzRichtung" />
      <xs:element name="referenzArt" type="ris:referenzArt" fixed="caselaw" />
      <xs:element name="relativerPfad" type="ris:referenzRelativerPfad" />
      <xs:element name="artDerZitierung" type="ris:referenzArtDerZitierung" />
      <xs:element name="dokumentnummer" type="ris:dokumentnummer" />
      <xs:element name="gericht" type="ris:gericht" />
      <xs:element name="entscheidungsdatum" type="ris:entscheidungsdatum" />
      <xs:element name="dokumenttyp" type="ris:dokumenttyp" />
      <xs:element name="aktenzeichen" type="ris:aktenzeichen" />
    </xs:sequence>
    <xs:attribute name="domainTerm" type="ris:domainTerm" use="required" />
  </xs:complexType>

  <xs:element
    name="referenzVerwaltungsvorschrift"
    type="ris:referenzVerwaltungsvorschrift"
  />
  <xs:complexType name="referenzVerwaltungsvorschrift">
    <xs:annotation>
      <xs:documentation
        xml:lang="de"
      >Referenz auf eine Verwaltungsvorschrift</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="richtung" type="ris:referenzRichtung" />
      <xs:element name="referenzArt" type="ris:referenzArt" fixed="adm" />
      <xs:element name="relativerPfad" type="ris:referenzRelativerPfad" />
      <xs:element name="artDerZitierung" type="ris:referenzArtDerZitierung" />
      <xs:element name="dokumentnummer" type="ris:dokumentnummer" />
      <xs:element name="jurisAbkuerzung" type="ris:jurisAbkuerzung" />
      <xs:element name="fundstelle" type="ris:fundstelle" />
    </xs:sequence>
    <xs:attribute name="domainTerm" type="ris:domainTerm" use="required" />
  </xs:complexType>

  <xs:element
    name="referenzUnselbstaendigeLiteratur"
    type="ris:referenzUnselbstaendigeLiteratur"
  />
  <xs:complexType name="referenzUnselbstaendigeLiteratur">
    <xs:annotation>
      <xs:documentation
        xml:lang="de"
      >Referenz auf ein unselbstständiges Literaturdokument</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="richtung" type="ris:referenzRichtung" />
      <xs:element name="referenzArt" type="ris:referenzArt" fixed="uli" />
      <xs:element name="relativerPfad" type="ris:referenzRelativerPfad" />
      <xs:element name="dokumentnummer" type="ris:dokumentnummer" />
      <xs:element name="autor" type="ris:autor" />
      <xs:element name="dokumenttyp" type="ris:dokumenttyp" />
      <!-- dokumenttypLiteratur? -->
      <xs:element name="fundstelle" type="ris:fundstelle" />
    </xs:sequence>
    <xs:attribute name="domainTerm" type="ris:domainTerm" use="required" />
  </xs:complexType>

  <xs:element
    name="referenzSelbstaendigeLiteratur"
    type="ris:referenzSelbstaendigeLiteratur"
  />
  <xs:complexType name="referenzSelbstaendigeLiteratur">
    <xs:annotation>
      <xs:documentation
        xml:lang="de"
      >Referenz auf ein selbstständiges Literaturdokument</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="richtung" type="ris:referenzRichtung" />
      <xs:element name="referenzArt" type="ris:referenzArt" fixed="sli" />
      <xs:element name="relativerPfad" type="ris:referenzRelativerPfad" />
      <xs:element name="dokumentnummer" type="ris:dokumentnummer" />
      <xs:element name="autor" type="ris:autor" />
      <xs:element name="titel" type="ris:titel" />
      <xs:element
        name="veroeffentlichungsjahr"
        type="ris:veroeffentlichungsjahr"
      />
    </xs:sequence>
    <xs:attribute name="domainTerm" type="ris:domainTerm" use="required" />
  </xs:complexType>

  <xs:complexType name="referenzRichtung">
    <xs:annotation>
      <xs:documentation
        xml:lang="de"
      >Ist die Referenz eine Aktivzitierung oder eine Passivzitierung?</xs:documentation>
    </xs:annotation>
    <xs:simpleContent>
      <xs:extension base="ris:referenzRichtungValue">
        <xs:attribute name="domainTerm" type="ris:domainTerm" use="required" />
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:simpleType name="referenzRichtungValue">
    <xs:restriction base="xs:string">
      <xs:enumeration value="passiv">
        <xs:annotation>
          <xs:documentation>
            Im in der Referenz angegebenen Dokument wird dieses Dokument zitiert.
          </xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="aktiv">
        <xs:annotation>
          <xs:documentation>
            Dieses Dokument zitiert das in der Referenz angegebene Dokument.
          </xs:documentation>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>

  <xs:complexType name="referenzArt">
    <xs:annotation>
      <xs:documentation>
        Art der Referenz
      </xs:documentation>
    </xs:annotation>
    <xs:simpleContent>
      <xs:extension base="ris:stringWithDomainTerm" />
    </xs:simpleContent>
  </xs:complexType>

  <xs:complexType name="referenzRelativerPfad">
    <xs:annotation>
      <xs:documentation>
        Der Pfad um die referenzierte Dokeinheit aufzurufen.
      </xs:documentation>
    </xs:annotation>
    <xs:simpleContent>
      <xs:extension base="xs:anyURI">
        <xs:attribute name="domainTerm" type="ris:domainTerm" use="required" />
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>

  <xs:complexType name="referenzArtDerZitierung">
    <xs:annotation>
      <xs:documentation>
        Art der Zitierung
      </xs:documentation>
    </xs:annotation>
    <xs:simpleContent>
      <xs:extension base="ris:stringWithDomainTerm" />
    </xs:simpleContent>
  </xs:complexType>

  <xs:complexType name="dokumentnummer">
    <xs:annotation>
      <xs:documentation>
        Dokumentnummer
      </xs:documentation>
    </xs:annotation>
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute name="domainTerm" type="ris:domainTerm" use="required" />
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>

  <xs:complexType name="entscheidungsdatum">
    <xs:annotation>
      <xs:documentation>
        Entscheidungsdatum
      </xs:documentation>
    </xs:annotation>
    <xs:simpleContent>
      <xs:extension base="xs:date">
        <xs:attribute name="domainTerm" type="ris:domainTerm" use="required" />
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>

  <xs:complexType name="jurisAbkuerzung">
    <xs:annotation>
      <xs:documentation xml:lang="de">
        juris-Abkürzung
      </xs:documentation>
    </xs:annotation>
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute name="domainTerm" type="ris:domainTerm" use="required" />
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>

  <xs:complexType name="autor">
    <xs:annotation>
      <xs:documentation xml:lang="de">
        Autor(en)
      </xs:documentation>
    </xs:annotation>
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute name="domainTerm" type="ris:domainTerm" use="required" />
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>

  <xs:complexType name="titel">
    <xs:annotation>
      <xs:documentation xml:lang="de">
        Titel
      </xs:documentation>
    </xs:annotation>
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute name="domainTerm" type="ris:domainTerm" use="required" />
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>

  <xs:complexType name="veroeffentlichungsjahr">
    <xs:annotation>
      <xs:documentation xml:lang="de">
        Veröffentlichungsjahr
      </xs:documentation>
    </xs:annotation>
    <xs:simpleContent>
      <xs:extension base="xs:gYear">
        <xs:attribute name="domainTerm" type="ris:domainTerm" use="required" />
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>

  <xs:complexType name="fundstelle">
    <xs:annotation>
      <xs:documentation xml:lang="de">
          Fundstelle
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="periodikum">
        <xs:annotation>
          <xs:documentation xml:lang="de">
            Periodikum in dem die Fundstelle gefunden werden kann
          </xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:sequence>
            <xs:element name="abkuerzung">
              <xs:annotation>
                <xs:documentation xml:lang="de">
                  Abkürzung des Periodikums
                </xs:documentation>
              </xs:annotation>
              <xs:complexType>
                <xs:simpleContent>
                  <xs:extension base="ris:stringWithDomainTerm" />
                </xs:simpleContent>
              </xs:complexType>
            </xs:element>
            <xs:element name="titel">
              <xs:annotation>
                <xs:documentation xml:lang="de">
                  Titel des Periodikums
                </xs:documentation>
              </xs:annotation>
              <xs:complexType>
                <xs:simpleContent>
                  <xs:extension base="ris:stringWithDomainTerm" />
                </xs:simpleContent>
              </xs:complexType>
            </xs:element>
          </xs:sequence>
          <xs:attribute
            name="domainTerm"
            type="ris:domainTerm"
            use="required"
          />
        </xs:complexType>
      </xs:element>
      <xs:element name="zitatstelle">
        <xs:annotation>
          <xs:documentation xml:lang="de">
            Zitatstelle innerhalb des Periodikums in dem die Fundstelle gefunden werden kann
          </xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:simpleContent>
            <xs:extension base="ris:stringWithDomainTerm" />
          </xs:simpleContent>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="domainTerm" type="ris:domainTerm" use="required" />
  </xs:complexType>

  <!-- the global domainTerm attribute used for adding the domainTerm to non-ris elements -->
  <xs:attribute name="domainTerm" type="ris:domainTerm" />

  <xs:simpleType name="domainTerm">
    <xs:annotation>
      <xs:documentation xml:lang="de">
        Inhaltliche Beschreibung des XML Elements
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string" />
  </xs:simpleType>

  <xs:simpleType name="ecli">
    <xs:annotation>
      <xs:documentation xml:lang="de">
        European Case Law Identifier

        https://e-justice.europa.eu/topics/legislation-and-case-law/european-case-law-identifier-ecli_de
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:pattern
        value="ECLI:[A-Z]{2}:[A-Za-z0-9]{1,7}:[0-9]{4}:[A-Za-z0-9.]{1,25}"
      />
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="sachgebietIdNeu">
    <xs:annotation>
      <xs:documentation xml:lang="de">
        Identifier des Sachgebiets (neue Notation)
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:pattern value="[A-Z]{2}(-[0-9]{2})*" />
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="sachgebietIdAlt">
    <xs:annotation>
      <xs:documentation xml:lang="de">
        Identifier des Sachgebiets (alte Notation)
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:pattern value="53-[0-9]{3}N?|[0-9]{2}-|[0-9]{2}(-[0-9]{2}){1,3}" />
    </xs:restriction>
  </xs:simpleType>

  <xs:complexType name="stringWithDomainTerm">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute name="domainTerm" type="ris:domainTerm" use="required" />
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
</xs:schema>
