xsd/ris.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xs:schema
  xmlns:xs="http://www.w3.org/2001/XMLSchema"
  xmlns:akn="http://docs.oasis-open.org/legaldocml/ns/akn/3.0"
  xmlns:ris="http://rechtsinformationen.bund.de/schema/ris/0.1/"
  elementFormDefault="qualified"
  targetNamespace="http://rechtsinformationen.bund.de/schema/ris/0.1/"
>
  <xs:annotation>
    <xs:documentation xml:lang="de">
      Allgemeine Elemente für die Schemas für die verschiedenen Dokumente des
      Rechtsinformationssystems. Dies beinhaltet nicht die Elemente für das
      Normen-Schema. Diese werden in LegalDocMl.de definiert. Die
      dokumentart-spezifischen Ergänzungen zu diesem Schema sind in weiteren
      Schema-Dateien definiert:
      * Rechtsprechung: ./caselaw.xsd
    </xs:documentation>
  </xs:annotation>

  <xs:import
    namespace="http://www.w3.org/XML/1998/namespace"
    schemaLocation="./akn/xml.xsd"
  />
  <xs:import
    namespace="http://docs.oasis-open.org/legaldocml/ns/akn/3.0"
    schemaLocation="./akn/akomantoso30.xsd"
  />

  <xs:element name="meta" type="ris:meta" />

  <xs:complexType name="meta">
    <xs:annotation>
      <xs:documentation xml:lang="de">
        Metadaten über das Dokument. Je nach Dokart sind hier andere Metadaten
        angegeben.
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element ref="ris:dokumenttyp" />
      <xs:any
        maxOccurs="unbounded"
        minOccurs="0"
        processContents="lax"
        namespace="##targetNamespace"
      />
    </xs:sequence>
  </xs:complexType>

  <xs:element name="dokumenttyp" type="ris:dokumenttyp" />
  <xs:complexType name="dokumenttyp">
    <xs:annotation>
      <xs:documentation xml:lang="de">
        Der Typ des Dokuments (z.B. Urteil, Vergleich, Beschluss, ...)
      </xs:documentation>
    </xs:annotation>
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute name="domainTerm" type="ris:domainTerm" use="required" />
        <xs:attributeGroup ref="akn:idreq" />
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>

  <xs:element name="gericht" type="ris:gericht" />
  <xs:complexType name="gericht">
    <xs:annotation>
      <xs:documentation xml:lang="de">Gericht</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="gerichtstyp">
        <xs:annotation>
          <xs:documentation xml:lang="de">
            Gerichtstyp (AG, VG, VerwG, ...)
          </xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:simpleContent>
            <xs:extension base="xs:string">
              <xs:attribute
                name="domainTerm"
                type="ris:domainTerm"
                use="required"
              />
            </xs:extension>
          </xs:simpleContent>
        </xs:complexType>
      </xs:element>

      <xs:element name="gerichtsort" minOccurs="0">
        <xs:annotation>
          <xs:documentation xml:lang="de">
            Ort des Sitzes des Gerichts
          </xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:simpleContent>
            <xs:extension base="xs:string">
              <xs:attribute
                name="domainTerm"
                type="ris:domainTerm"
                use="required"
              />
            </xs:extension>
          </xs:simpleContent>
        </xs:complexType>
      </xs:element>

      <xs:element name="gerichtsbarkeit" minOccurs="0">
        <xs:annotation>
          <xs:documentation xml:lang="de">Gerichtsbarkeit</xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:simpleContent>
            <xs:extension base="xs:string">
              <xs:attribute
                name="domainTerm"
                type="ris:domainTerm"
                use="required"
              />
            </xs:extension>
          </xs:simpleContent>
        </xs:complexType>
      </xs:element>

      <xs:element name="spruchkoerper" minOccurs="0">
        <xs:annotation>
          <xs:documentation xml:lang="de">Spruchkörper</xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:simpleContent>
            <xs:extension base="xs:string">
              <xs:attribute
                name="domainTerm"
                type="ris:domainTerm"
                use="required"
              />
              <xs:attribute name="refersTo" use="required">
                <xs:simpleType>
                  <xs:restriction base="akn:conceptRef">
                    <xs:enumeration value="#spruchkoerper" />
                  </xs:restriction>
                </xs:simpleType>
              </xs:attribute>
            </xs:extension>
          </xs:simpleContent>
        </xs:complexType>
      </xs:element>

      <xs:element name="sitzDerAussenstelle" minOccurs="0">
        <xs:annotation>
          <xs:documentation xml:lang="de">
            Sitz der Außenstelle
          </xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:simpleContent>
            <xs:extension base="xs:string">
              <xs:attribute
                name="domainTerm"
                type="ris:domainTerm"
                use="required"
              />
            </xs:extension>
          </xs:simpleContent>
        </xs:complexType>
      </xs:element>
    </xs:sequence>

    <xs:attribute name="domainTerm" type="ris:domainTerm" use="required" />
    <xs:attribute name="refersTo">
      <xs:simpleType>
        <xs:restriction base="akn:conceptRef">
          <xs:enumeration value="#gericht" />
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
  </xs:complexType>

  <xs:element name="fehlerhafteGerichte" type="ris:fehlerhafteGerichte" />
  <xs:complexType name="fehlerhafteGerichte">
    <xs:annotation>
      <xs:documentation xml:lang="de">
        Fehlerhafte Angaben zu Gerichten
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="fehlerhaftesGericht" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation xml:lang="de">
            Fehlerhafte Angabe eines Gerichtes
          </xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:simpleContent>
            <xs:extension base="xs:string">
              <xs:attribute
                name="domainTerm"
                type="ris:domainTerm"
                use="required"
              />
            </xs:extension>
          </xs:simpleContent>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="domainTerm" type="ris:domainTerm" use="required" />
  </xs:complexType>

  <xs:element name="regionen" type="ris:regionen" />
  <xs:complexType name="regionen">
    <xs:annotation>
      <xs:documentation xml:lang="de">
        Regionen in denen dieses Dokument eine Bedeutung hat
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="region" maxOccurs="unbounded">
        <xs:annotation>
          <!-- in the harmonization document this field doesn't contain the abbreviation but the full name, but in caselaw we often only have an abbreviation -->
          <xs:documentation xml:lang="de">
            Abkürzung der Region.

            Für Bundesländer:
              Grundsätzlich: Die 2 Buchstaben Abkürzung nach ISO 3166-2
              Niedersachsen abweichend ND
              Hamburg HA
              Bremen BR
            Für Länder: ISO 3166-1 alpha-3

            Es werden weitere Codes für andere und ehemalige Gebiete verwendet.
            Zum Beispiel NL für Neue Länder, AL für Alte Länder oder PR für
            Preußen
          </xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:simpleContent>
            <xs:extension base="xs:string">
              <xs:attribute
                name="domainTerm"
                type="ris:domainTerm"
                use="required"
              />
            </xs:extension>
          </xs:simpleContent>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="domainTerm" type="ris:domainTerm" use="required" />
  </xs:complexType>

  <xs:element name="dokumentationsstelle" type="ris:dokumentationsstelle" />
  <xs:complexType name="dokumentationsstelle">
    <xs:annotation>
      <xs:documentation xml:lang="de">
        Dokumentationsstelle die dieses Dokument eingepflegt hat
      </xs:documentation>
    </xs:annotation>
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute name="domainTerm" type="ris:domainTerm" use="required" />
        <xs:attribute name="refersTo" use="required">
          <xs:simpleType>
            <xs:restriction base="akn:conceptRef">
              <xs:enumeration
                value="#documentationoffice-dokumentationsstelle"
              />
            </xs:restriction>
          </xs:simpleType>
        </xs:attribute>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>

  <xs:element name="fremdsprachigeFassung" type="ris:fremdsprachigeFassung" />
  <xs:complexType name="fremdsprachigeFassung">
    <xs:annotation>
      <xs:documentation xml:lang="de">Fremdsprachige Fassung</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element ref="akn:FRBRlanguage">
        <xs:annotation>
          <xs:documentation xml:lang="de">
            Sprache der fremdsprachigen Fassung
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element ref="akn:documentRef">
        <!-- todo: documentRef seems like the wrong type here -->
        <xs:annotation>
          <xs:documentation xml:lang="de">
            Link zur fremdsprachigen Fassung
          </xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="domainTerm" type="ris:domainTerm" use="required" />
  </xs:complexType>

  <!-- the global domainTerm attribute used for adding the domainTerm to non-ris elements -->
  <xs:attribute name="domainTerm" type="ris:domainTerm" />

  <xs:simpleType name="domainTerm">
    <xs:annotation>
      <xs:documentation xml:lang="de">
        Inhaltliche Beschreibung des XML Elements
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string" />
  </xs:simpleType>
</xs:schema>
